/* BLACK STYLES */

body.default {
    background: url("../img/bg/dark_wood.jpg") repeat scroll center top transparent;
}

/* set newtwork status icon as green */
td#wan_status>span.label.label-success {
    background-color: #468847
}

/* table header background */
table.table th[style*=background-color] {
    background-color: rgba(189,54,47,0.29) !important;
}

/* highlight sidebar active menu */
.sidebar-nav.side_nav .active a,
.sidebar-nav.side_nav a[href*="javascript: void(0)"] {
    color: #FF7A0B !important;
}

/* "LAN > DHCP Server > Manually Assigned IP around the DHCP List" row is totally white */
/* Advanced_VirtualServer_Content.asp, ports row is totally white */
/* VPN page, user row is totally white */
/* Firewall page, MAC row is totally white */
/* WiFi 2.5/5 GHz page, MAC row is totally white */
div#MDHCPList_Block table.table-list tr,
table#VSList_Block.table-list tr,
table#ACLList_Block tr,
table#MFList_Block tr,
div#ACLList_Block table.table-list tr {
    background: transparent !important;
}

/* LAN page > MAC addresses, WAP page > IP addresses, USB page > dlna, dropdown tooltip is white */
div.alert.alert-info.ddown-list,
div#ClientList_Block {
    background-color: rgba(245, 245, 245, 0.71) !important;
}

/* WAN page > filter LAN traffic, input field labels were totally white */
table.table tr[id^="vlan_"] span.add-on {
    background: transparent;
    border: none;
}

/* END BLACK STYLES */

/* HACKED STYLES */

/* Main page > HDD info padding */
body.body_iframe {
    margin: 0px 5px 5px 5px;
}

/* center progress bar when showLoading(num) called */
#loadingBlock {
    margin-top: 400px !important;
}

/* MAIN page > all: menu, device list and option list has same height */
#statusframe,
div.well[style*="padding-left: 18px"] {
    height: 505px !important;
}

/* Main page > center icons */
div.well[style*="padding-left: 18px"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* Network traffic page > dropdown height */
select#sel_netif {
    /*height: 23px !important;*/
    margin-bottom: 10px !important;
}

/* USB page/VPN Client/Firewall > some elems wider than others */
table#tbl_vpnc_server select[name=vpnc_sfw],
table#tbl_smbd select[name=st_samba_mode],
table#tbl_ftpd select[name=st_ftp_mode] { 
    width: 220px !important;
}
table#tbl_minidlna div.input-append input {
    width: 170px !important;
}
table.table select[name=fw_log_x] {
    width: auto !important;
}

/* Main page > status tables > increase line height */
table.table[width="98%"] th,
table.table#tbl_info th  {
    height: 27px !important;
}

/* Grey2 Theme: maintain space between input fields and buttons */
.input-append input {
    max-width: 165px !important;
}
.input-append .btn:last-child {
    margin-left: 5px !important;
}

/* support smooth icon appearance via hack.js */
/* USB page > Add dir/user dialog */
/* Administration > Operation Mode */
iframe#popupframe,
div#Senario img {
    visibility: hidden;
}

/* IE fix > USB page > Router icon */
div.machineName {
    -ms-background-position-x: -35px;
}

/* END HACKED STYLES */

/* OTHER STYLES */

/* hide index page arrow icons (used in default theme) */
.arrow-right img {
    display: none;
}


/* LAN page > MAC address field on one row */
table tr#row_static_header td:first-child {
    width: 30% !important;
}

/* VPN server page, ip addr field in one row */
#wnd_vpns_acl table.table tr:nth-child(2) td:nth-child(3) {
    width: 25%;
}

/* Advanced_VirtualServer_Content.asp, ports in one row */
/* VPN page, fields in one row */
table#VSList_Block.table-list input[name=vts_ipaddr_x_0],
#wnd_vpns_acl input[name=vpns_rnet_x_0],
#wnd_vpns_acl input[name=vpns_rmsk_x_0] {
    width: 70px !important;
}

/* USB page > samba/ftp dirs don't fit in one row */
div.FdText {
    width: 160px !important;
}

/* USB page > add user account to samba/ftp */
div.accountName[style*='/user_icon.gif'] { /* selected user */
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%22-97%20220.9%20400%20400%22%20style%3D%22enable-background%3Anew%20-97%20220.9%20400%20400%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0A%09.st0%7Bfill%3A%2346C105%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M104.4%2C239.5c-100.8%2C0-182.9%2C82-182.9%2C182.8c0%2C36.2%2C10.6%2C71.3%2C30.8%2C101.5c34.1%2C50.9%2C90.9%2C81.4%2C152.1%2C81.4%0D%0A%09%09s118-30.4%2C152.1-81.4c20.1-30.1%2C30.7-65.2%2C30.7-101.5C287.3%2C321.5%2C205.3%2C239.5%2C104.4%2C239.5z%20M104.4%2C252.6%0D%0A%09%09c93.6%2C0%2C169.7%2C76.1%2C169.7%2C169.7c0%2C30.7-8.1%2C60.4-23.7%2C86.5c-0.6-0.7-1.3-1.1-1.9-1.8c-6.1-6.9-12.7-13.2-20.1-18.8%0D%0A%09%09c-1.1-0.9-2.4-1.7-3.6-2.5c-7.9-5.7-16.3-10.8-25.6-15.1c-3.1-1.5-6.8-0.2-8.4%2C2.8c-17.5%2C31.3-50.6%2C50.8-86.4%2C50.8%0D%0A%09%09c-35.8%2C0-68.9-19.5-86.5-50.8c-0.8-1.4-2-2.2-3.3-2.7c-0.4-0.1-0.7-0.2-1.1-0.3c-0.5-0.1-0.9-0.4-1.3-0.4c-0.9%2C0-1.9%2C0.2-2.7%2C0.6%0D%0A%09%09c-9.2%2C4.2-17.6%2C9.4-25.5%2C15c-1.2%2C0.9-2.5%2C1.7-3.7%2C2.6c-7.4%2C5.6-14%2C12-20.1%2C18.9c-0.5%2C0.6-1.2%2C1-1.8%2C1.7%0D%0A%09%09c-15.6-26.2-23.7-55.9-23.7-86.5C-65.3%2C328.7%2C10.9%2C252.6%2C104.4%2C252.6z%20M104.4%2C592c-55%2C0-106.3-26.6-138.2-71.3%0D%0A%09%09c3.6-4.5%2C7.6-8.6%2C11.8-12.6c2.3-2.2%2C4.3-4.7%2C6.8-6.8c7.6-6.2%2C15.8-11.7%2C24.9-16.3c20.5%2C32.3%2C56.3%2C52.2%2C94.8%2C52.2%0D%0A%09%09c38.5%2C0%2C74.2-19.8%2C94.7-52.2c9.1%2C4.6%2C17.4%2C10.1%2C24.9%2C16.3c2.4%2C2%2C4.4%2C4.5%2C6.6%2C6.7c4.2%2C4%2C8.3%2C8.1%2C11.9%2C12.7%0D%0A%09%09C210.8%2C565.5%2C159.5%2C592%2C104.4%2C592z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M104.4%2C500.5c42.1%2C0%2C76.3-34.3%2C76.3-76.4v-69.8c0-42.1-34.2-76.3-76.3-76.3c-42.1%2C0-76.4%2C34.2-76.4%2C76.3v69.8%0D%0A%09%09C28.1%2C466.2%2C62.3%2C500.5%2C104.4%2C500.5z%20M41.2%2C354.3c0-34.8%2C28.4-63.2%2C63.2-63.2c34.8%2C0%2C63.2%2C28.4%2C63.2%2C63.2v69.8%0D%0A%09%09c0%2C34.9-28.3%2C63.2-63.2%2C63.2c-34.9%2C0-63.2-28.4-63.2-63.2V354.3z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E') rgba(255, 255, 255, 0.15) no-repeat !important;
}
div.accountName { /* other users */
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%22-97%20220.9%20400%20400%22%20style%3D%22enable-background%3Anew%20-97%20220.9%20400%20400%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0A%09.st0%7Bfill%3A%23F57921%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M104.4%2C239.5c-100.8%2C0-182.9%2C82-182.9%2C182.8c0%2C36.2%2C10.6%2C71.3%2C30.8%2C101.5c34.1%2C50.9%2C90.9%2C81.4%2C152.1%2C81.4%0D%0A%09%09s118-30.4%2C152.1-81.4c20.1-30.1%2C30.7-65.2%2C30.7-101.5C287.3%2C321.5%2C205.3%2C239.5%2C104.4%2C239.5z%20M104.4%2C252.6%0D%0A%09%09c93.6%2C0%2C169.7%2C76.1%2C169.7%2C169.7c0%2C30.7-8.1%2C60.4-23.7%2C86.5c-0.6-0.7-1.3-1.1-1.9-1.8c-6.1-6.9-12.7-13.2-20.1-18.8%0D%0A%09%09c-1.1-0.9-2.4-1.7-3.6-2.5c-7.9-5.7-16.3-10.8-25.6-15.1c-3.1-1.5-6.8-0.2-8.4%2C2.8c-17.5%2C31.3-50.6%2C50.8-86.4%2C50.8%0D%0A%09%09c-35.8%2C0-68.9-19.5-86.5-50.8c-0.8-1.4-2-2.2-3.3-2.7c-0.4-0.1-0.7-0.2-1.1-0.3c-0.5-0.1-0.9-0.4-1.3-0.4c-0.9%2C0-1.9%2C0.2-2.7%2C0.6%0D%0A%09%09c-9.2%2C4.2-17.6%2C9.4-25.5%2C15c-1.2%2C0.9-2.5%2C1.7-3.7%2C2.6c-7.4%2C5.6-14%2C12-20.1%2C18.9c-0.5%2C0.6-1.2%2C1-1.8%2C1.7%0D%0A%09%09c-15.6-26.2-23.7-55.9-23.7-86.5C-65.3%2C328.7%2C10.9%2C252.6%2C104.4%2C252.6z%20M104.4%2C592c-55%2C0-106.3-26.6-138.2-71.3%0D%0A%09%09c3.6-4.5%2C7.6-8.6%2C11.8-12.6c2.3-2.2%2C4.3-4.7%2C6.8-6.8c7.6-6.2%2C15.8-11.7%2C24.9-16.3c20.5%2C32.3%2C56.3%2C52.2%2C94.8%2C52.2%0D%0A%09%09c38.5%2C0%2C74.2-19.8%2C94.7-52.2c9.1%2C4.6%2C17.4%2C10.1%2C24.9%2C16.3c2.4%2C2%2C4.4%2C4.5%2C6.6%2C6.7c4.2%2C4%2C8.3%2C8.1%2C11.9%2C12.7%0D%0A%09%09C210.8%2C565.5%2C159.5%2C592%2C104.4%2C592z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M104.4%2C500.5c42.1%2C0%2C76.3-34.3%2C76.3-76.4v-69.8c0-42.1-34.2-76.3-76.3-76.3c-42.1%2C0-76.4%2C34.2-76.4%2C76.3v69.8%0D%0A%09%09C28.1%2C466.2%2C62.3%2C500.5%2C104.4%2C500.5z%20M41.2%2C354.3c0-34.8%2C28.4-63.2%2C63.2-63.2c34.8%2C0%2C63.2%2C28.4%2C63.2%2C63.2v69.8%0D%0A%09%09c0%2C34.9-28.3%2C63.2-63.2%2C63.2c-34.9%2C0-63.2-28.4-63.2-63.2V354.3z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E') transparent no-repeat !important;
}

/* add room for apply button on VPS and VPN pages */
#wnd_vpnc_cfg .table:last-child,
#wnd_vpns_cfg .table:last-child {
    height: 45px;
}

/* LAN page, xupnpd web status link in one row */
/* USB page, transmission web control link in one row */
/* USB page, aria web control link in one row */
table.table tr#row_xupnpd td:nth-child(3),
table#tbl_aria.table tr#row_aria_rport td:nth-child(3),
table#tbl_trmd.table tr#row_trmd_rport td:nth-child(3) {
    padding-left: 0px;
}

/* USB page, dlna settings, align second column */
table#tbl_minidlna tr#row_dms_dnew td:nth-child(2) {
    padding-right: 0px;
}

/* Main page > HDD info padding */
div#mounted_item2 {
    padding: 5px 15px;
}

/* remove excessive copyright */
#footer > div:last-child {
    display: none;
}

/* proper crop for toggle buttons */
/* itoggle new vector icons fix */
div.main_itoggle label.itoggle_ru,
div.main_itoggle label.itoggle_en,
div.main_itoggle label.itoggle {
    background-position: 0% 0px !important;
}

/* itoggle localization (en) */

/* Off toggle */
/* svg encoded with http://b64.io (not recommended) */
/* svg url-encode tool with http://codepen.io/yoksel/details/JDqvs/ */
/* svgo optimizer https://jakearchibald.github.io/svgomg/ */
div.main_itoggle label.itoggle_en.iToff{
    display: block;
    width: 116px;
    height: 25px;
    /*margin-bottom: 20px;*/
    /* white - #F3F3F3 */
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22116%22%20height%3D%2225%22%20viewBox%3D%2290.08%20383.455%20116%2025%22%3E%3Cpath%20fill%3D%22%23F3F3F3%22%20d%3D%22M102.45%20407.742c-6.5%200-11.788-5.29-11.788-11.788%200-6.5%205.29-11.788%2011.79-11.788%206.5%200%2011.787%205.29%2011.787%2011.788%200%206.5-5.29%2011.788-11.79%2011.788zm0-22.56c-5.94%200-10.773%204.832-10.773%2010.772s4.833%2010.774%2010.774%2010.774c5.94%200%2010.78-4.834%2010.78-10.774%200-5.94-4.83-10.773-10.77-10.773z%22/%3E%3Cpath%20fill%3D%22%23F3F3F3%22%20d%3D%22M94.95%20402.05l.155.312c.052.123.07.244.104.35m2.55-12.082l10.09%2010.098-.72.717-10.1-10.097z%22/%3E%3Cpath%20fill%3D%22%23F3F3F3%22%20d%3D%22M107.144%20390.63l.717.718-10.09%2010.097-.71-.717zm26.074%205.1c0%204.084-2.254%206.125-6.763%206.125h-4.048v-12.053h4.048c2.258%200%203.95.49%205.076%201.47%201.13.982%201.69%202.467%201.69%204.458zm-1.04%200c0-.793-.087-1.502-.263-2.126s-.483-1.155-.923-1.592c-.44-.437-1.03-.77-1.768-.997-.738-.228-1.67-.34-2.794-.34h-3.045v10.3h3.045c1.117%200%202.044-.116%202.782-.353.738-.234%201.327-.578%201.768-1.03.44-.45.75-1%20.93-1.645s.268-1.387.268-2.217zm4.67%206.125h-.98v-8.54h.98v8.54zm.013-10.687h-.97v-1.377h.98v1.38zm6.03%2010.908c-2.32%200-3.59-.842-3.8-2.523h.99c.08.516.34.916.79%201.207s1.12.436%202.01.436c.44%200%20.81-.043%201.14-.127.33-.09.6-.2.81-.35s.38-.32.49-.51c.11-.2.16-.41.16-.64%200-.23-.04-.43-.13-.59-.08-.16-.24-.31-.46-.44s-.53-.26-.91-.38-.88-.26-1.48-.39c-.51-.12-.97-.24-1.37-.37s-.73-.28-1.01-.47c-.27-.19-.47-.41-.61-.67-.14-.26-.21-.59-.21-.98%200-.34.08-.65.24-.92.16-.28.38-.51.67-.7.29-.19.64-.34%201.04-.44s.86-.16%201.36-.16c1.13%200%201.98.17%202.56.51.59.34.91.88.98%201.61h-.99c-.07-.43-.29-.74-.68-.94-.39-.2-.96-.3-1.73-.3-.36%200-.69.03-.99.09-.3.06-.56.14-.78.26s-.38.25-.51.43c-.12.17-.18.37-.18.59%200%20.12.02.25.07.38s.17.26.37.4.5.28.9.42c.4.14.95.29%201.64.44.55.13%201.02.26%201.43.39.4.14.74.3%201%20.49.27.183.46.4.59.65s.2.543.2.88c0%20.374-.09.73-.25%201.05-.17.33-.41.61-.71.85s-.68.42-1.12.553c-.44.135-.93.203-1.48.203zm12.18-1.322c-.33.266-.66.482-.98.656-.31.172-.63.31-.93.408-.3.098-.61.166-.91.203s-.61.06-.92.06c-.41%200-.8-.05-1.16-.17-.36-.11-.67-.27-.93-.48-.26-.21-.47-.46-.62-.76-.15-.29-.22-.62-.22-.98%200-.97.47-1.73%201.39-2.28.93-.54%202.31-.81%204.17-.81h1.13c0-.37-.02-.72-.07-1.03-.05-.31-.16-.59-.34-.82s-.44-.41-.79-.54-.82-.2-1.43-.2c-.89%200-1.55.13-2%20.38-.44.25-.71.63-.79%201.14h-.96c.1-.81.45-1.41%201.06-1.8s1.5-.59%202.69-.59c.66%200%201.22.08%201.68.22.46.15.84.36%201.13.64s.5.61.63%201.01.2.84.2%201.33v5.58h-.98v-1.1zm0-3.295h-1.48c-1.42%200-2.47.18-3.17.55-.69.37-1.04.89-1.04%201.57%200%20.51.22.9.66%201.18.44.28%201.05.42%201.81.42.34%200%20.66-.05.98-.14.32-.09.61-.21.89-.36s.54-.31.77-.49.43-.36.61-.53v-2.23zm4.81-2.78c.26-.31.52-.57.8-.77s.56-.37.83-.49c.28-.12.55-.21.81-.26.26-.05.51-.08.75-.08.59%200%201.11.1%201.57.31s.84.5%201.15.89c.31.38.55.85.71%201.39.16.54.25%201.14.25%201.8%200%20.69-.1%201.32-.29%201.89-.2.56-.46%201.04-.8%201.43s-.74.7-1.2.92-.96.32-1.49.32c-.46%200-.97-.08-1.52-.25-.54-.17-1.06-.46-1.55-.87v.89h-.98v-12.06h.98v4.89zm0%205.13c.44.42.9.75%201.38%201s1.01.37%201.59.37c.88%200%201.59-.32%202.12-.94.53-.63.8-1.55.8-2.76%200-1.16-.25-2.04-.74-2.64-.5-.6-1.19-.9-2.08-.9-.59%200-1.13.16-1.62.47-.49.32-.97.76-1.43%201.34v4.03zm10.18%202.03h-.98v-12.06h.98v12.06zm6.73.22c-.66%200-1.26-.1-1.8-.3s-1-.5-1.38-.88c-.39-.39-.69-.86-.9-1.42s-.32-1.2-.32-1.91c0-.69.1-1.32.31-1.87.21-.56.5-1.03.87-1.41s.82-.68%201.34-.89%201.09-.31%201.71-.31c.65%200%201.23.1%201.75.31s.97.5%201.33.89c.37.38.65.85.85%201.41.2.55.3%201.18.3%201.88v.2h-7.46c.05.58.17%201.08.36%201.51s.43.77.74%201.06c.3.28.65.49%201.04.63s.82.21%201.29.21c.327%200%20.65-.04.98-.11.32-.07.62-.18.88-.32s.49-.31.67-.52c.18-.21.288-.44.32-.71h.968c-.09.4-.25.76-.48%201.07-.23.31-.51.57-.84.79-.335.22-.714.38-1.14.49-.42.11-.87.17-1.353.17zm3.05-5.18c-.16-.98-.53-1.71-1.1-2.2-.57-.49-1.28-.73-2.12-.73-.41%200-.8.06-1.16.17-.36.12-.68.3-.96.54-.28.24-.51.55-.71.92-.19.36-.32.79-.41%201.29h6.47zm9.65%203.78c-.29.31-.58.55-.86.73s-.55.32-.82.42-.52.16-.77.19-.48.04-.71.04c-.59%200-1.12-.11-1.57-.32-.46-.21-.84-.51-1.15-.9-.31-.39-.54-.85-.7-1.4-.16-.55-.24-1.15-.24-1.82%200-.71.1-1.34.29-1.9.19-.56.46-1.04.8-1.44s.74-.69%201.2-.9c.46-.21.96-.32%201.49-.32.23%200%20.46.01.7.036.24.02.48.062.734.132.25.07.514.17.79.31.27.14.554.324.85.56v-4.354h.976v12.07h-.98v-1.18zm0-5.47c-.44-.41-.9-.72-1.37-.93s-1-.31-1.58-.31c-.44%200-.84.07-1.19.22s-.66.37-.91.68c-.25.3-.45.68-.59%201.14-.14.46-.21.99-.21%201.61%200%201.16.25%202.04.75%202.64.5.61%201.19.91%202.08.91.59%200%201.13-.15%201.62-.44s.96-.72%201.42-1.3v-4.25z%22/%3E%3C/svg%3E') bottom no-repeat;
    cursor:pointer;
    text-indent:-5000px;
}

div.main_itoggle label.itoggle_en span {
    /*display: block;*/
    /*margin-bottom: 20px;*/
    /* text-indent:-5000px;*/
    background-position: 0% 0%;
    margin: 0;
}
div.main_itoggle label.itoggle_en {
    display: block;
    /*margin-bottom: 20px;*/
    text-indent:-5000px;
}

/* On toggle */
div.main_itoggle label.itoggle_en span,
div.main_itoggle label.itoggle_en {
    width: 116px;
    height: 25px;
    cursor:pointer;
    /* orange - #F57921 */
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22116%22%20height%3D%2225%22%20viewBox%3D%2280.72%20383.455%20116%2025%22%3E%3Cpath%20fill%3D%22%23F57921%22%20d%3D%22M93.12%20407.855c-6.562%200-11.9-5.34-11.9-11.9%200-6.562%205.338-11.9%2011.9-11.9s11.9%205.338%2011.9%2011.9c0%206.56-5.338%2011.9-11.9%2011.9zm0-22.8c-6.01%200-10.9%204.89-10.9%2010.9s4.89%2010.9%2010.9%2010.9%2010.9-4.89%2010.9-10.9-4.89-10.9-10.9-10.9z%22/%3E%3Cpath%20fill%3D%22%23F57921%22%20d%3D%22M85.538%20402.112l.158.317c.053.12.07.24.105.35m5.04-1.73c-.44%200-.88-.18-1.23-.52l-3.43-3.43.71-.71%203.43%203.43c.3.29.76.29%201.06%200l8.08-8.09.71.7-8.07%208.09c-.34.34-.79.52-1.23.52zm32%201.06h-9.67v-12.07h9.35v.88h-8.37v4.46h7.84v.88h-7.84v4.96h8.7v.88zm3.25-7.27c.32-.34.63-.61.94-.81s.61-.35.9-.45.57-.17.83-.2.51-.04.74-.04c1.95%200%202.93%201.03%202.93%203.11v5.65h-.98v-5.58c0-.4-.04-.74-.12-1.03-.08-.29-.2-.53-.38-.72-.17-.19-.4-.33-.68-.42s-.62-.14-1.03-.14c-.53%200-1.06.14-1.58.43s-1.03.69-1.53%201.21v6.24h-.98v-8.54h.98v1.27zm15.23%206.17c-.33.26-.66.48-.98.65s-.63.31-.93.41c-.3.1-.6.16-.91.2-.3.03-.6.05-.91.05-.42%200-.8-.06-1.16-.17-.36-.12-.66-.28-.93-.49-.26-.21-.46-.47-.61-.76-.15-.3-.23-.63-.23-.99%200-.98.47-1.74%201.39-2.28.93-.55%202.31-.82%204.17-.82h1.13c0-.38-.03-.72-.07-1.04-.05-.32-.16-.59-.34-.82s-.44-.42-.79-.55-.83-.2-1.43-.2c-.89%200-1.552.12-2%20.37-.442.25-.71.62-.79%201.13h-.962c.1-.81.45-1.41%201.05-1.8s1.5-.59%202.69-.59c.66%200%201.226.07%201.687.22.46.14.84.36%201.13.63s.5.6.63%201%20.19.83.19%201.33v5.57h-.98V401zm0-3.3h-1.48c-1.42%200-2.47.18-3.17.55-.69.37-1.04.89-1.04%201.57%200%20.5.22.9.66%201.18.44.28%201.05.42%201.81.42.34%200%20.66-.05.98-.14.32-.1.61-.21.89-.36s.54-.31.77-.49c.24-.18.44-.36.61-.53v-2.22zm4.81-2.78c.26-.31.52-.57.8-.77s.56-.37.84-.49c.28-.12.55-.21.81-.26.26-.05.51-.08.75-.08.59%200%201.11.1%201.57.31s.84.5%201.15.89c.31.38.55.85.71%201.39.17.54.25%201.15.25%201.81%200%20.69-.09%201.32-.29%201.89-.19.56-.46%201.04-.8%201.43s-.74.7-1.2.92-.95.32-1.48.32c-.46%200-.97-.09-1.51-.25s-1.06-.46-1.55-.87v.89h-.98V390h.98v4.89zm0%205.13c.44.42.9.75%201.38%201%20.48.25%201.01.37%201.59.37.88%200%201.59-.31%202.12-.94.53-.63.8-1.54.8-2.76%200-1.16-.25-2.04-.74-2.64-.5-.6-1.19-.9-2.08-.9-.59%200-1.13.16-1.62.47-.5.31-.97.76-1.43%201.33v4.03zm10.18%202.04h-.98v-12.06h.98v12.06zm6.73.22c-.66%200-1.26-.1-1.79-.31-.54-.21-1-.5-1.39-.89s-.69-.86-.9-1.42-.32-1.19-.32-1.91c0-.69.1-1.32.31-1.87.21-.56.5-1.03.87-1.41s.82-.68%201.34-.89%201.09-.31%201.72-.31c.65%200%201.23.1%201.75.31.52.2.97.5%201.34.88s.65.85.84%201.41c.2.55.29%201.18.29%201.88v.19h-7.46c.05.58.17%201.08.36%201.51s.43.78.73%201.06.65.49%201.05.63.83.21%201.29.21c.33%200%20.66-.04.98-.11.33-.07.62-.18.89-.32s.49-.31.67-.52c.18-.2.288-.44.32-.7h.967c-.09.402-.25.76-.48%201.072-.23.31-.51.57-.845.79-.33.22-.71.38-1.132.49-.42.11-.87.17-1.35.17zm3.05-5.18c-.16-.98-.53-1.71-1.1-2.19-.57-.49-1.28-.73-2.12-.73-.42%200-.8.06-1.16.17-.36.12-.68.3-.96.54-.28.24-.52.55-.71.91-.19.37-.33.8-.41%201.29h6.47zm9.65%203.78c-.29.31-.58.55-.86.74s-.55.32-.82.42c-.26.1-.52.16-.77.19-.25.02-.48.04-.71.04-.59%200-1.12-.11-1.57-.32-.46-.22-.84-.52-1.15-.9-.31-.39-.54-.85-.7-1.4-.15-.55-.23-1.15-.23-1.82%200-.71.1-1.34.29-1.9.2-.56.46-1.04.8-1.44s.74-.69%201.2-.9c.46-.21.96-.32%201.49-.32.23%200%20.46.01.7.03.24.02.48.07.74.14s.52.17.79.31.56.32.85.56V390h.98v12.07h-.98v-1.18zm0-5.47c-.44-.41-.9-.72-1.37-.93s-1-.31-1.58-.31c-.44%200-.84.08-1.19.23-.35.15-.66.37-.91.68-.25.3-.45.69-.59%201.14s-.21.99-.21%201.61c0%201.16.25%202.04.75%202.64.5.6%201.19.9%202.08.9.59%200%201.12-.15%201.61-.44.49-.29.97-.72%201.42-1.3v-4.25z%22/%3E%3C/svg%3E') bottom no-repeat;
}

/* END OTHER STYLES */