/* OVERRIDE STYLES */

body.default {
    background: url("../img/bg/yellow_wood.jpg") repeat scroll center top transparent;
}

/* set newtwork status icon as green */
td#wan_status>span.label.label-success {
    background-color: #468847
}

/* center progress bar when showLoading(num) called */
#loadingBlock {
    margin-top: 400px !important;
}

/* hide index page arrow icons (used in default theme) */
.arrow-right img {
    display: none;
}

/* add room for apply button on VPS and VPN pages */
#wnd_vpnc_cfg .table:last-child,
#wnd_vpns_cfg .table:last-child {
    height: 45px;
}

/* now menu, device list and option list has same height */
#statusframe,
div.well[style*="padding-left: 18px"] {
    height: 505px !important;
}

/* USB page/VPN Client/Firewall > some elems wider than others */
table#tbl_vpnc_server select[name=vpnc_sfw],
table#tbl_smbd select[name=st_samba_mode],
table#tbl_ftpd select[name=st_ftp_mode] { 
    width: 220px !important;
}
table#tbl_minidlna div.input-append input {
    width: 175px !important;
}
table.table select[name=fw_log_x] {
    width: auto !important;
}

/* remove excessive copyright */
#footer > div:last-child {
    display: none;
}