/* OVERRIDE STYLES */

body.default {
    background: url("../img/bg/dark_blue.jpg") repeat scroll center top transparent;
    background-attachment: fixed;
    background-size: cover;
}

/* set newtwork status icon as green */
td#wan_status>span.label.label-success {
    background-color: #468847
}

/* outline title of option list */
table.table th[style*=background-color] {
    background-color: rgba(189,54,47,0.29) !important;
}

/* center progress bar when showLoading(num) called */
#loadingBlock {
    margin-top: 400px !important;
}

/* highlight sidebar active menu */
.sidebar-nav.side_nav .active a,
.sidebar-nav.side_nav a[href*="javascript: void(0)"] {
    color: #FF7A0B !important;
}

/* proper crop for toggle buttons */
div.main_itoggle label.itoggle {
    width: 59px  !important;
}

/* hide index page arrow icons (used in default theme) */
.arrow-right img {
    display: none;
}

/* add room for apply button on VPS and VPN pages */
#wnd_vpnc_cfg .table:last-child,
#wnd_vpns_cfg .table:last-child {
    height: 45px;
}

/* MAIN page, now menu, device list and option list has same height */
#statusframe,
div.well[style*="padding-left: 18px"] {
    height: 505px !important;
}

/* center icons on main page */
div.well[style*="padding-left: 18px"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* Network traffic page > drop down height */
select#sel_netif {
    /*height: 23px !important;*/
    margin-bottom: 10px !important;
}

/* LAN page > MAC addresses, WAP page > IP addresses, USB page > dlna, dropdown tooltip is white */
div.alert.alert-info.ddown-list,
div#ClientList_Block {
    background-color: rgba(245, 245, 245, 0.71) !important;
}

/* LAN page > MAC address field on one row */
table tr#row_static_header td:first-child {
    width: 30% !important;
}

/* VPN server page, ip addr field in one row */
#wnd_vpns_acl table.table tr:nth-child(2) td:nth-child(3) {
    width: 25%;
}

/* VPN page, fields in one row */
#wnd_vpns_acl input[name=vpns_rnet_x_0],
#wnd_vpns_acl input[name=vpns_rmsk_x_0] {
    width: 75px !important;
}

/* "LAN > DHCP Server > Manually Assigned IP around the DHCP List" row is totally white */
/* Advanced_VirtualServer_Content.asp, ports row is totally white */
/* VPN page, user row is totally white */
/* Firewall page, MAC row is totally white */
/* WiFi 2.5/5 GHz page, MAC row is totally white */
div#MDHCPList_Block table.table-list tr,
table#VSList_Block.table-list tr,
table#ACLList_Block tr,
table#MFList_Block tr,
div#ACLList_Block table.table-list tr {
    background: transparent !important;
}

/* USB page > samba/ftp dirs with permissions don't fit in one row */
div.FdText {
    width: 160px !important;
}

/* LAN page, xupnpd web status link in one row */
/* USB page, transmission web control link in one row */
/* USB page, aria web control link in one row */
table.table tr#row_xupnpd td:nth-child(3),
table#tbl_aria.table tr#row_aria_rport td:nth-child(3),
table#tbl_trmd.table tr#row_trmd_rport td:nth-child(3) {
    padding-left: 0px;
}

/* USB page > add user account to samba/ftp */
div.accountName[style*='/user_icon.gif'] { /* selected user */
    background: url('../img/AiDisk/user_icon.png') rgba(255, 255, 255, 0.15) no-repeat !important;
}
div.accountName { /* other users */
    background: url('../img/AiDisk/user_icon0.png') transparent no-repeat !important;
}

/* USB page/VPN Client/Firewall > some elems wider than others */
table#tbl_vpnc_server select[name=vpnc_sfw],
table#tbl_smbd select[name=st_samba_mode],
table#tbl_ftpd select[name=st_ftp_mode] { 
    width: 220px !important;
}
table#tbl_minidlna div.input-append input {
    width: 180px !important;
}
table.table select[name=fw_log_x] {
    width: auto !important;
}

/* USB page, dlna category > align second column */
table#tbl_minidlna tr#row_dms_dnew td:nth-child(2) {
    padding-right: 0px;
}

/* remove excessive copyright */
#footer > div:last-child {
    display: none;
}

/* ICONS THAT NEED TO BE INVERTED */
/* Main Page > Clients */
/* match Clients_table and xClients_table */
table[id$='Clients_table'] img[src$='/1.gif'] {
    content: url('../img/wl_device/1.png');
}
table[id$='Clients_table'] img[src$='/2.gif'] {
    content: url('../img/wl_device/2.png');
}
table[id$='Clients_table'] img[src$='/3.gif'] {
    content: url('../img/wl_device/3.png');
}
table[id$='Clients_table'] img[src$='/6.gif'] {
    content: url('../img/wl_device/6.png');
}
table[id$='Clients_table'] img[src$='/8.gif'] {
    content: url('../img/wl_device/8.png');
}
/* USB page > Samba/FTP directories */
div.FdTemp img[src$='/4.gif'] {
    content: url('../img/wl_device/4.png');
}
div.FdTemp img[src$='/5.gif'] {
    content: url('../img/wl_device/5.png');
}
div.FdTemp img[src$='/7.gif'] {
    content: url('../img/wl_device/7.png');
}
div.FdTemp img[src$='/9.gif'] {
    content: url('../img/wl_device/9.png');
}
div.FdTemp img[src$='/10.gif'] {
    content: url('../img/wl_device/10.png');
}
div.FdTemp img[src$='/vert_line_s11.gif'] {
    content: url('../img/Tree/vert_line_s11.gif');
}
div.FdTemp img[src$='/vert_line_s10.gif'] {
    content: url('../img/Tree/vert_line_s10.gif');
}
div.FdTemp img[src$='/vert_line_n00.gif'] {
    content: url('../img/Tree/vert_line_n00.gif');
}
/* Admimistration > Work Mode */
div#Senario img[src$='/arrow-left.png'] {
    content: url('../img/wl_device/arrow-left.png');
}
div#Senario img[src$='/clients.png'] {
    content: url('../img/wl_device/clients.png');
}
div#Senario img[src$='/globe.png'] {
    content: url('../img/wl_device/globe.png');
}
div#Senario img[src$='/n56u.png'] {
    content: url('../img/wl_device/n56u.png');
}
div#Senario img[src$='/server.png'] {
    content: url('../img/wl_device/server.png');
}

