/* BACKGROUND */

/* more bg patterns at http://subtlepatterns.com and http://thepatternlibrary.com */
/* also see http://www.awwwards.com/background-patterns-designs-and-resources-for-websites.html */

body.default-asus {
    background: url("/bootstrap/img/dark-bg.jpg") repeat scroll center top transparent;
}
body.wood{
    background: url("../img/bg/wood.jpg") repeat scroll center top transparent;
}
body.dark-blue {
    background: url("../img/bg/dark_blue.jpg") repeat scroll center top transparent;
    background-attachment: fixed;
    background-size: cover;
}
body.yellow-wood {
    background: url("../img/bg/yellow_wood.jpg") repeat scroll center top transparent;
}
body.white-blue {
    background: url("../img/bg/white_blue.jpg") repeat scroll center top transparent;
}
body.simple-white {
    background: #F7F7F7;
    overflow-y: scroll;
}
body.dark-wood {
    background: url("../img/bg/dark_wood.jpg") repeat scroll center top transparent;
}
body.wood1 {
    background: url("../img/bg/wood_1.jpg") repeat scroll center top transparent;
}
body.dark-brick-wall {
    background: url("../img/bg/dark_brick_wall.png") repeat scroll center top transparent;
}
body.dark-leather {
    background: url("../img/bg/dark_leather.png") repeat scroll center top transparent;
}
body.dark-mosaic {
    background: url("../img/bg/dark_mosaic.png") repeat scroll center top transparent;
}
body.noisy-net {
    background: url("../img/bg/noisy_net.png") repeat scroll center top transparent;
}
body.rebel {
    background: url("../img/bg/rebel.png") repeat scroll center top transparent;
}
body.crissXcross {
    background: url("../img/bg/crissXcross.png") repeat scroll center top transparent;
}
body.upholstery {
    background:
    radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
    radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
    linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
    linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
    background-color: #300; 
    background-size: 100px 100px;
}
body.starry-night {
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
body.rainbow-bokeh {
    background: 
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
    linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 400%;
    background-color: #840b2a;
}
body.carbon {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}
body.blueprint-grid {
    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}
body.cicada-stripes {
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}
body.tartan {
    background-color: hsl(2, 57%, 40%);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}
body.carbon-fibre {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}
body.horizontal-stripes {
    background-size: 50px 50px;
    background-color: #0ae;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    -pie-background: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 50px #0ae;
    behavior: url(/pie/PIE.htc);
}
body.vertical-stripes {
    background-size: 50px 50px;
    background-color: #f90;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    -pie-background: linear-gradient(90deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 50px 50px #f90;
    behavior: url(/pie/PIE.htc);
}
body.weave {
    background:
    linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#708090;
    background-size: 64px 128px
}
body.angled-135 {
    background-size: 50px 50px;
    background-color: #c16;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                      transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                      transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                      transparent 75%, transparent);
    -pie-background: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                     transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                     transparent 75%, transparent) 0 0 / 50px 50px, #c16;
    behavior: url(/pie/PIE.htc);
}
body.angled {
    background-size: 50px 50px;
    background-color: #ac0;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                      transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                      transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                      transparent 75%, transparent);
    -pie-background: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                     transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                     transparent 75%, transparent) 0 0 / 50px 50px #ac0;
    behavior: url(/pie/PIE.htc);
}
body.polka-dot {
    background-color:#001;
    background-image: radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
    background-size:60px 60px;
    background-position: 0 0, 30px 30px;
}

body.marvel {
    background: url("../img/bg/marvel.jpg") repeat scroll center top transparent; 
    background-color: #333; 
    background-attachment: fixed;
    background-size: cover;
}

/* original: http://gdefon.org/_ph/1/237261574.jpg */
body.polar-lights {
    background: url("../img/bg/polar_lights.jpg") repeat scroll center top transparent; 
    background-color: #333; 
    background-size: cover;
}

body.blue-weaves {
    background: url("../img/bg/blue_waves.jpg") repeat scroll center top transparent;
    background-color: #333; 
    background-size: cover;
    background-attachment: fixed;
}

/* original: http://all4desktop.com/data_images/original/4236775-wallpaper-background.jpg */
body.cracks {
    background: url("../img/bg/cracks.jpg") repeat scroll center top transparent; 
    background-color: #333; 
    background-size: cover;
}

/* END BACKGROUND */

/* LOGO */

div.RT-N56U,
div.asus {
    background-image: url("/bootstrap/img/asus_logo.png") !important;
    width: 150px !important;
    height: 71px !important;
}
div.MI-3,
div.MI-MINI,
div.MI-NANO,
div.xiaomi-big {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%222604%20-786.3%205819.1%202365.3%22%20style%3D%22enable-background%3Anew%202604%20-786.3%205819.1%202365.3%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0A%09.st0%7Bfill%3A%23F57921%3B%7D%0D%0A%09.st1%7Bfill%3A%23F8F7F3%3B%7D%0D%0A%09.st2%7Bfill%3A%23F9F8F4%3B%7D%0D%0A%09.st3%7Bfill%3Anone%3B%7D%0D%0A%09.st4%7Bfill%3A%23F3F3F3%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%223786.6%22%20cy%3D%22396.3%22%20r%3D%221182.6%22%2F%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20class%3D%22st1%22%20d%3D%22M2986.6%2C396.2c0-167.8%2C0-335.7%2C0-503.5c0-2-0.1-4%2C0.1-6c0.5-5.6%2C4.8-9.8%2C10.4-10.4c1.8-0.2%2C3.7-0.2%2C5.5-0.2%0D%0A%09%09c278.2%2C0%2C556.3%2C0.1%2C834.5-0.1c72%2C0%2C136.5%2C21.2%2C192.4%2C66.5c60.2%2C48.8%2C96.2%2C112%2C108.4%2C188.7c2.6%2C16.2%2C3.4%2C32.5%2C3.4%2C48.8%0D%0A%09%09c0%2C240%2C0%2C480%2C0%2C720c0%2C2.3%2C0%2C4.7-0.4%2C7c-0.9%2C5.3-4.9%2C8.9-10.2%2C9.4c-1.7%2C0.2-3.3%2C0.1-5%2C0.1c-71.3%2C0-142.7%2C0-214%2C0%0D%0A%09%09c-12.1%2C0-15.8-3.7-15.8-15.8c0-212.8-0.1-425.7%2C0.1-638.5c0-40.9-12.1-77.5-38.6-108.7c-33.6-39.6-77-58.9-128.7-58.9%0D%0A%09%09c-159.3-0.1-318.7-0.1-478%2C0c-11.4%2C0-15.1%2C4-15.1%2C16c0%2C262.8%2C0%2C525.7%2C0%2C788.5c0%2C2.7%2C0%2C5.4-0.4%2C8c-1%2C5.6-5.1%2C9-10.7%2C9.4%0D%0A%09%09c-1.5%2C0.1-3%2C0-4.5%2C0c-72.5%2C0-145%2C0-217.5%2C0c-11.9%2C0-15.5-3.6-15.5-15.4C2986.6%2C732.8%2C2986.6%2C564.5%2C2986.6%2C396.2z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st2%22%20d%3D%22M4586.7%2C396.3c0%2C167.6%2C0%2C335.3%2C0%2C502.9c0%2C1.7%2C0%2C3.3%2C0%2C5c-0.2%2C7.8-4.7%2C12.4-12.6%2C12.4c-74.5%2C0-149%2C0-223.5%2C0%0D%0A%09%09c-7.6%2C0-12.1-4.3-12.6-11.9c-0.1-1.5-0.1-3-0.1-4.5c0-335.8%2C0-671.5%2C0-1007.3c0-2.5%2C0-5%2C0.5-7.5c0.9-5.1%2C4.8-8.5%2C9.9-9.1%0D%0A%09%09c1.6-0.2%2C3.3-0.2%2C5-0.2c72.7%2C0%2C145.3%2C0%2C218%2C0c1.2%2C0%2C2.3%2C0%2C3.5%2C0.1c7.3%2C0.4%2C11.7%2C4.8%2C11.8%2C12.2c0.1%2C10.8%2C0%2C21.7%2C0%2C32.5%0D%0A%09%09C4586.7%2C79.3%2C4586.7%2C237.8%2C4586.7%2C396.3z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st2%22%20d%3D%22M3686.5%2C599c0%2C100.2%2C0%2C200.3%2C0%2C300.5c0%2C1.5%2C0%2C3%2C0%2C4.5c-0.3%2C8.1-4.8%2C12.6-12.9%2C12.6c-25.8%2C0.1-51.7%2C0-77.5%2C0%0D%0A%09%09c-47.8%2C0-95.7%2C0-143.5%2C0c-10.8%2C0-14.8-4-14.8-14.7c0-201.8%2C0-403.6%2C0-605.5c0-10.9%2C4.2-15%2C15.2-15c72.8%2C0%2C145.7%2C0%2C218.5%2C0%0D%0A%09%09c11%2C0%2C15.1%2C4.1%2C15.1%2C15.1C3686.5%2C397.3%2C3686.5%2C498.1%2C3686.5%2C599z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%09%3Crect%20x%3D%225100.5%22%20y%3D%22-110.9%22%20class%3D%22st3%22%20width%3D%223077.6%22%20height%3D%221296.3%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M5282.8-66.8l180.4%2C650.2l179.7-649.6c3.4-13.1%2C11.1-23.9%2C23.1-32.6c12-8.7%2C25.8-13%2C41.5-13%0D%0A%09%09c13.5%2C0%2C26.3%2C3.9%2C38.3%2C11.7s20.3%2C18.9%2C25%2C33.2l180.3%2C650.2l181-650.2c3-9.3%2C8.2-17.7%2C15.8-25.3c13.1-13.1%2C28.9-19.6%2C47.5-19.6%0D%0A%09%09c18.6%2C0%2C34.3%2C6.5%2C47.1%2C19.6c12.9%2C13.1%2C19.3%2C28.9%2C19.3%2C47.5c-0.4%2C8.5-1.9%2C17.3-4.4%2C26.6l-238.6%2C864.8c-5.9%2C16.5-14.8%2C29.7-26.6%2C39.6%0D%0A%09%09s-25.5%2C14.9-41.1%2C14.9c-19%2C0-34.6-6.8-46.8-20.3c-8.9-9.3-15.6-20.3-20.3-32.9l-176.5-640.1l-176.6%2C638.8%0D%0A%09%09c-5.9%2C16.5-14.8%2C29.7-26.6%2C39.6s-25.5%2C14.9-41.1%2C14.9c-19%2C0-34.8-6.8-47.5-20.3c-8.4-8.4-15-19.4-19.6-32.9L5156.3-18.8%0D%0A%09%09c-2.5-9.7-3.8-18.4-3.8-26c0-18.6%2C6.5-34.4%2C19.6-47.5s28.9-19.6%2C47.5-19.6s34.4%2C6.5%2C47.5%2C19.6C5274.1-84.5%2C5279.4-76.1%2C5282.8-66.8%0D%0A%09%09z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6545.3%2C66.2c0%2C21.6-7.6%2C40-22.8%2C55.2s-33.5%2C22.8-55.1%2C22.8s-39.9-7.6-55-22.8s-22.8-33.6-22.8-55.2%0D%0A%09%09s7.6-40%2C22.8-55.2s33.5-22.8%2C55-22.8s39.9%2C7.6%2C55.1%2C22.8S6545.3%2C44.7%2C6545.3%2C66.2z%20M6401.5%2C834.8V258.9c0-18.6%2C6.4-34.3%2C19.3-47.1%0D%0A%09%09c12.8-12.9%2C28.3-19.3%2C46.4-19.3c18.1%2C0%2C33.6%2C6.4%2C46.4%2C19.3c12.8%2C12.9%2C19.5%2C28.6%2C19.9%2C47.1v575.9c-0.4%2C18.6-7%2C34.3-19.9%2C47.2%0D%0A%09%09c-12.9%2C12.9-28.3%2C19.3-46.4%2C19.3c-18.1%2C0-33.6-6.4-46.4-19.3S6401.5%2C853.3%2C6401.5%2C834.8z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6667.3%2C834.2V-43.7c0-9.3%2C1.7-18%2C5-26.3c3.3-8.3%2C8.1-15.4%2C14.2-21.5c6.1-6.1%2C13.2-10.9%2C21.2-14.2%0D%0A%09%09c8-3.4%2C16.9-5.1%2C26.5-5.1h585.3c18.6%2C0%2C34.4%2C6.5%2C47.5%2C19.6s19.6%2C28.9%2C19.6%2C47.4s-6.5%2C34.3-19.6%2C47.4s-28.9%2C19.6-47.5%2C19.6h-518.3%0D%0A%09%09v305h372.1c18.6%2C0%2C34.4%2C6.5%2C47.5%2C19.6s19.6%2C28.9%2C19.6%2C47.4s-6.5%2C34.3-19.6%2C47.4s-28.9%2C19.6-47.5%2C19.6h-372.1v372%0D%0A%09%09c0%2C18.6-6.5%2C34.4-19.6%2C47.4c-13.1%2C13.1-28.9%2C19.6-47.4%2C19.6s-34.3-6.5-47.4-19.6C6673.8%2C868.6%2C6667.3%2C852.7%2C6667.3%2C834.2z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M7659%2C66.2c0%2C21.6-7.6%2C40-22.8%2C55.2s-33.5%2C22.8-55.1%2C22.8s-39.9-7.6-55-22.8s-22.8-33.6-22.8-55.2%0D%0A%09%09s7.6-40%2C22.8-55.2s33.5-22.8%2C55-22.8s39.9%2C7.6%2C55.1%2C22.8S7659%2C44.7%2C7659%2C66.2z%20M7515.3%2C834.8V258.9c0-18.6%2C6.4-34.3%2C19.3-47.1%0D%0A%09%09c12.8-12.9%2C28.3-19.3%2C46.4-19.3s33.6%2C6.4%2C46.4%2C19.3c12.8%2C12.9%2C19.5%2C28.6%2C19.9%2C47.1v575.9c-0.4%2C18.6-7%2C34.3-19.9%2C47.2%0D%0A%09%09s-28.3%2C19.3-46.4%2C19.3s-33.6-6.4-46.4-19.3S7515.3%2C853.3%2C7515.3%2C834.8z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M5275.3-488.6L5403-652.7c3.7-4.4%2C8-6.6%2C12.7-6.6c4.1%2C0%2C7.6%2C1.5%2C10.5%2C4.4c2.9%2C2.9%2C4.4%2C6.5%2C4.4%2C10.7%0D%0A%09%09c0%2C3.3-0.8%2C6.1-2.4%2C8.5l-133.5%2C171.6l132.7%2C170.8c2.1%2C2.6%2C3.2%2C5.8%2C3.2%2C9.5c0%2C4.2-1.5%2C7.8-4.4%2C10.7c-2.9%2C2.9-6.4%2C4.4-10.5%2C4.4%0D%0A%09%09c-4.7%2C0-8.5-1.7-11.5-5.1l-128.9-165.3l-128.9%2C165.3c-2.8%2C3.4-6.5%2C5.1-11.2%2C5.1c-4.2%2C0-7.8-1.5-10.7-4.4c-2.9-2.9-4.4-6.5-4.4-10.7%0D%0A%09%09c0-3.6%2C1.1-6.8%2C3.4-9.5L5256.1-464l-133.3-171.9c-1.8-2.1-2.7-4.9-2.7-8.3c0-4.2%2C1.5-7.8%2C4.4-10.7c2.9-2.9%2C6.5-4.4%2C10.7-4.4%0D%0A%09%09c4.9%2C0%2C9%2C2.2%2C12.5%2C6.6L5275.3-488.6z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M5529-608c0%2C5.7-2%2C10.5-5.9%2C14.4c-3.9%2C3.9-8.7%2C5.9-14.4%2C5.9c-5.5%2C0-10.3-2-14.3-5.9c-4-3.9-6-8.7-6-14.4%0D%0A%09%09c0-5.5%2C2-10.3%2C6-14.3s8.7-6%2C14.3-6c5.7%2C0%2C10.5%2C2%2C14.4%2C6C5527.1-618.3%2C5529-613.6%2C5529-608z%20M5493.6-527c0-4.2%2C1.5-7.8%2C4.4-10.7%0D%0A%09%09c2.9-2.9%2C6.5-4.4%2C10.7-4.4c4.2%2C0%2C7.9%2C1.5%2C10.9%2C4.4c3%2C2.9%2C4.5%2C6.5%2C4.5%2C10.7v243.2c0%2C4.2-1.5%2C7.8-4.5%2C10.7s-6.6%2C4.4-10.9%2C4.4%0D%0A%09%09c-4.2%2C0-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7V-527z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M5831.7-318.2c-32.9%2C33-68.3%2C49.6-106.2%2C49.6c-37.8%2C0-70-13.3-96.7-40c-26.7-26.7-40-58.9-40-96.7%0D%0A%09%09s13.3-70%2C40-96.7c26.7-26.7%2C58.9-40%2C96.7-40s70%2C13.3%2C96.7%2C40c26.7%2C26.7%2C40%2C58.9%2C40%2C96.7v121.6c0%2C4.2-1.5%2C7.8-4.4%2C10.7%0D%0A%09%09c-2.9%2C2.9-6.5%2C4.4-10.7%2C4.4s-7.9-1.5-10.9-4.4c-3-2.9-4.5-6.5-4.5-10.7V-318.2L5831.7-318.2z%20M5725.5-511.8%0D%0A%09%09c-29.3%2C0-54.4%2C10.4-75.2%2C31.3c-20.8%2C20.8-31.3%2C45.9-31.3%2C75.2s10.4%2C54.4%2C31.3%2C75.2c20.8%2C20.8%2C45.9%2C31.3%2C75.2%2C31.3%0D%0A%09%09s54.4-10.4%2C75.2-31.3c20.7-20.7%2C31-45.7%2C31-75.2s-10.3-54.5-31-75.2C5779.9-501.4%2C5754.8-511.8%2C5725.5-511.8z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6174.8-405.4c0%2C37.8-13.3%2C70-40%2C96.7c-26.7%2C26.7-58.9%2C40-96.7%2C40s-70-13.3-96.7-40%0D%0A%09%09c-26.7-26.7-40-58.9-40-96.7s13.3-70%2C40-96.7c26.7-26.7%2C58.9-40%2C96.7-40s70%2C13.3%2C96.7%2C40C6161.4-475.4%2C6174.8-443.2%2C6174.8-405.4z%0D%0A%09%09%20M6038-511.8c-29.3%2C0-54.4%2C10.4-75.2%2C31.3c-20.8%2C20.8-31.3%2C45.9-31.3%2C75.2s10.4%2C54.4%2C31.3%2C75.2c20.8%2C20.8%2C45.9%2C31.3%2C75.2%2C31.3%0D%0A%09%09s54.4-10.4%2C75.2-31.3c20.7-20.7%2C31-45.7%2C31-75.2s-10.3-54.5-31-75.2C6092.4-501.4%2C6067.3-511.8%2C6038-511.8z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6243.1-283.8c0%2C4.2-1.5%2C7.8-4.4%2C10.7s-6.5%2C4.4-10.7%2C4.4c-4.2%2C0-7.9-1.5-10.9-4.4c-3-2.9-4.5-6.5-4.5-10.7%0D%0A%09%09V-527c0-4.2%2C1.5-7.8%2C4.5-10.7c3-2.9%2C6.6-4.4%2C10.9-4.4c4.2%2C0%2C7.8%2C1.5%2C10.7%2C4.4c2.9%2C2.9%2C4.4%2C6.5%2C4.4%2C10.7v16.4%0D%0A%09%09c24.7-21%2C50-31.5%2C75.9-31.5c29.3%2C0%2C54.4%2C10.4%2C75.2%2C31.3c5%2C5.2%2C10.3%2C11.6%2C15.9%2C19c5.5-7.5%2C10.9-13.8%2C16.1-19%0D%0A%09%09c20.8-20.8%2C45.9-31.3%2C75.2-31.3s54.4%2C10.4%2C75.2%2C31.3c20.7%2C20.7%2C31%2C45.7%2C31%2C75.2v151.9c0%2C4.2-1.5%2C7.8-4.4%2C10.7%0D%0A%09%09c-2.9%2C2.9-6.5%2C4.4-10.7%2C4.4s-7.8-1.5-10.7-4.4c-2.9-2.9-4.4-6.5-4.4-10.7v-152c0-21-7.5-38.9-22.5-53.7c-15-15-32.8-22.5-53.5-22.5%0D%0A%09%09c-20.8%2C0-38.7%2C7.5-53.7%2C22.5c-14.8%2C14.8-22.2%2C32.7-22.2%2C53.7v151.9c0%2C4.2-1.5%2C7.8-4.5%2C10.7s-6.6%2C4.4-10.9%2C4.4%0D%0A%09%09c-4.2%2C0-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7v-151.9c0-21-7.4-38.9-22.2-53.7c-15-15-32.9-22.5-53.7-22.5s-38.7%2C7.5-53.7%2C22.5%0D%0A%09%09c-14.8%2C14.8-22.2%2C32.7-22.2%2C53.7v151.9H6243.1z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6700.9-608c0%2C5.7-2%2C10.5-5.9%2C14.4c-3.9%2C3.9-8.7%2C5.9-14.4%2C5.9c-5.5%2C0-10.3-2-14.3-5.9c-4-3.9-6-8.7-6-14.4%0D%0A%09%09c0-5.5%2C2-10.3%2C6-14.3s8.7-6%2C14.3-6c5.7%2C0%2C10.5%2C2%2C14.4%2C6S6700.9-613.6%2C6700.9-608z%20M6665.5-527c0-4.2%2C1.5-7.8%2C4.4-10.7%0D%0A%09%09c2.9-2.9%2C6.5-4.4%2C10.7-4.4c4.2%2C0%2C7.9%2C1.5%2C10.9%2C4.4c3%2C2.9%2C4.5%2C6.5%2C4.5%2C10.7v243.2c0%2C4.2-1.5%2C7.8-4.5%2C10.7s-6.6%2C4.4-10.9%2C4.4%0D%0A%09%09c-4.2%2C0-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7V-527z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6127.3%2C1088.2c0-4.2%2C1.5-7.8%2C4.4-10.7s6.5-4.4%2C10.7-4.4s7.8%2C1.5%2C10.7%2C4.4s4.4%2C6.5%2C4.4%2C10.7v34.4%0D%0A%09%09c33-33%2C68.5-49.6%2C106.4-49.6c20.3%2C0%2C37.8%2C3.2%2C52.2%2C9.5c2.6%2C1%2C5%2C2.5%2C7.1%2C4.6c2.8%2C2.8%2C4.2%2C6.3%2C4.2%2C10.7c0%2C4.2-1.5%2C7.8-4.4%2C10.7%0D%0A%09%09s-6.5%2C4.4-10.7%2C4.4c-2.6%2C0-4.9-0.5-6.8-1.5c-11.4-5.5-25.2-8.3-41.5-8.3c-29.3%2C0-54.4%2C10.4-75.2%2C31.3%0D%0A%09%09c-20.8%2C20.7-31.3%2C45.7-31.3%2C75.2v121.6c0%2C4.2-1.5%2C7.8-4.4%2C10.7s-6.5%2C4.4-10.7%2C4.4s-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7%0D%0A%09%09L6127.3%2C1088.2L6127.3%2C1088.2z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6634.4%2C1209.8c0%2C37.8-13.3%2C70-40%2C96.7s-58.9%2C40-96.7%2C40c-37.8%2C0-70-13.3-96.7-40s-40-58.9-40-96.7%0D%0A%09%09c0-37.8%2C13.3-70%2C40-96.7s58.9-40%2C96.7-40c37.8%2C0%2C70%2C13.3%2C96.7%2C40C6621%2C1139.8%2C6634.4%2C1172.1%2C6634.4%2C1209.8z%20M6497.6%2C1103.4%0D%0A%09%09c-29.3%2C0-54.4%2C10.4-75.2%2C31.3c-20.8%2C20.8-31.3%2C45.9-31.3%2C75.2s10.4%2C54.4%2C31.3%2C75.2c20.8%2C20.8%2C45.9%2C31.3%2C75.2%2C31.3%0D%0A%09%09s54.4-10.4%2C75.2-31.3c20.7-20.7%2C31-45.7%2C31-75.2s-10.3-54.5-31-75.2C6552%2C1113.8%2C6526.9%2C1103.4%2C6497.6%2C1103.4z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6926.8%2C1331.4c0%2C4.2-1.5%2C7.8-4.5%2C10.7s-6.6%2C4.4-10.9%2C4.4c-4.2%2C0-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7v-28.3%0D%0A%09%09c-29.9%2C29-62%2C43.5-96.2%2C43.5c-34.7%2C0-64.5-12.3-89.6-36.9c-24.6-24.7-36.9-54.7-36.9-89.8v-131.6c0-4.2%2C1.5-7.8%2C4.4-10.7%0D%0A%09%09s6.5-4.4%2C10.7-4.4s7.8%2C1.5%2C10.7%2C4.4s4.4%2C6.5%2C4.4%2C10.7v131.6c0%2C26.7%2C9.4%2C49.4%2C28.1%2C68.1c19.4%2C18.9%2C42.1%2C28.3%2C68.1%2C28.3%0D%0A%09%09c26.4%2C0%2C49-9.4%2C67.9-28.3c18.9-18.7%2C28.3-41.4%2C28.3-68.1v-131.6c0-4.2%2C1.5-7.8%2C4.4-10.7s6.5-4.4%2C10.7-4.4s7.9%2C1.5%2C10.9%2C4.4%0D%0A%09%09s4.5%2C6.5%2C4.5%2C10.7v243.1H6926.8z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M7104.1%2C1316.3c4.2%2C0%2C7.9%2C1.5%2C10.9%2C4.4s4.5%2C6.5%2C4.5%2C10.7s-1.5%2C7.8-4.5%2C10.7s-6.6%2C4.4-10.9%2C4.4%0D%0A%09%09c-64.1%2C0-96.2-32.1-96.2-96.2v-147h-25.1c-4.2%2C0-7.9-1.5-10.9-4.4s-4.5-6.5-4.5-10.7s1.5-7.8%2C4.5-10.7c3-2.9%2C6.6-4.4%2C10.9-4.4h25.1%0D%0A%09%09V970.8c0-4.2%2C1.5-7.8%2C4.4-10.7s6.5-4.4%2C10.7-4.4s7.9%2C1.5%2C10.9%2C4.4s4.5%2C6.5%2C4.5%2C10.7v102.3h45.7c4.2%2C0%2C7.9%2C1.5%2C10.9%2C4.4%0D%0A%09%09s4.5%2C6.5%2C4.5%2C10.7s-1.5%2C7.8-4.5%2C10.7c-3%2C2.9-6.6%2C4.4-10.9%2C4.4h-45.7v147C7038.4%2C1294.3%2C7060.3%2C1316.3%2C7104.1%2C1316.3z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M7361.4%2C1287.7c4.2%2C0%2C7.8%2C1.5%2C10.7%2C4.5c2.9%2C3%2C4.4%2C6.6%2C4.4%2C10.9c0%2C4.2-1.3%2C7.7-3.9%2C10.5%0D%0A%09%09c-25.4%2C22-55.1%2C33-89.1%2C33c-37.8%2C0-70-13.3-96.7-40s-40-58.9-40-96.7c0-37.8%2C13.3-70%2C40-96.7s58.9-40%2C96.7-40%0D%0A%09%09c37.8%2C0%2C70%2C13.3%2C96.7%2C40s40%2C58.9%2C40%2C96.7c0%2C4.2-1.5%2C7.8-4.4%2C10.7s-6.5%2C4.4-10.7%2C4.4h-227.5c4.9%2C24.4%2C15.1%2C44.4%2C30.8%2C60.1%0D%0A%09%09c20.8%2C20.8%2C45.9%2C31.3%2C75.2%2C31.3c13.3%2C0%2C25.7-2.2%2C37.1-6.5s21.8-10.5%2C31.3-18.7C7354.6%2C1288.8%2C7357.8%2C1287.7%2C7361.4%2C1287.7z%0D%0A%09%09%20M7389.2%2C1194.7c-4.6-24.3-14.7-44.3-30.5-60.1c-20.8-20.8-45.9-31.3-75.2-31.3s-54.4%2C10.4-75.2%2C31.3%0D%0A%09%09c-15.6%2C15.6-25.9%2C35.6-30.8%2C60.1H7389.2z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M7460%2C1088.2c0-4.2%2C1.5-7.8%2C4.4-10.7s6.5-4.4%2C10.7-4.4s7.8%2C1.5%2C10.7%2C4.4s4.4%2C6.5%2C4.4%2C10.7v34.4%0D%0A%09%09c33-33%2C68.5-49.6%2C106.4-49.6c20.3%2C0%2C37.8%2C3.2%2C52.2%2C9.5c2.6%2C1%2C5%2C2.5%2C7.1%2C4.6c2.8%2C2.8%2C4.2%2C6.3%2C4.2%2C10.7c0%2C4.2-1.5%2C7.8-4.4%2C10.7%0D%0A%09%09s-6.5%2C4.4-10.7%2C4.4c-2.6%2C0-4.9-0.5-6.8-1.5c-11.4-5.5-25.2-8.3-41.5-8.3c-29.3%2C0-54.4%2C10.4-75.2%2C31.3%0D%0A%09%09c-20.8%2C20.7-31.3%2C45.7-31.3%2C75.2v121.6c0%2C4.2-1.5%2C7.8-4.4%2C10.7s-6.5%2C4.4-10.7%2C4.4s-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7L7460%2C1088.2%0D%0A%09%09L7460%2C1088.2z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A') !important;
    width: 200px !important;
    height: 82px !important;
    background-repeat: no-repeat;
}
div.xiaomi-white {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%222694%20-823.2%206000%202439.2%22%20style%3D%22enable-background%3Anew%202694%20-823.2%206000%202439.2%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0A%09.st0%7Bfill%3A%23FD6440%3B%7D%0D%0A%09.st1%7Bfill%3A%23F8F7F3%3B%7D%0D%0A%09.st2%7Bfill%3A%23F9F8F4%3B%7D%0D%0A%09.st3%7Bfill%3Anone%3B%7D%0D%0A%09.st4%7Bfill%3A%23909090%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M4673.6%2C1579H3260.5c-261.8%2C0-476-214.2-476-476V-310.2c0-261.8%2C214.2-476%2C476-476h1413.2%0D%0A%09c261.8%2C0%2C476%2C214.2%2C476%2C476V1103C5149.7%2C1364.8%2C4935.5%2C1579%2C4673.6%2C1579z%22%2F%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20class%3D%22st1%22%20d%3D%22M3167%2C396.2c0-167.8%2C0-335.7%2C0-503.5c0-2-0.1-4%2C0.1-6c0.5-5.6%2C4.8-9.8%2C10.4-10.4c1.8-0.2%2C3.7-0.2%2C5.5-0.2%0D%0A%09%09c278.2%2C0%2C556.3%2C0.1%2C834.5-0.1c72%2C0%2C136.5%2C21.2%2C192.4%2C66.5c60.2%2C48.8%2C96.2%2C112%2C108.4%2C188.7c2.6%2C16.2%2C3.4%2C32.5%2C3.4%2C48.8%0D%0A%09%09c0%2C240%2C0%2C480%2C0%2C720c0%2C2.3%2C0%2C4.7-0.4%2C7c-0.9%2C5.3-4.9%2C8.9-10.2%2C9.4c-1.7%2C0.2-3.3%2C0.1-5%2C0.1c-71.3%2C0-142.7%2C0-214%2C0%0D%0A%09%09c-12.1%2C0-15.8-3.7-15.8-15.8c0-212.8-0.1-425.7%2C0.1-638.5c0-40.9-12.1-77.5-38.6-108.7c-33.6-39.6-77-58.9-128.7-58.9%0D%0A%09%09c-159.3-0.1-318.7-0.1-478%2C0c-11.4%2C0-15.1%2C4-15.1%2C16c0%2C262.8%2C0%2C525.7%2C0%2C788.5c0%2C2.7%2C0%2C5.4-0.4%2C8c-1%2C5.6-5.1%2C9-10.7%2C9.4%0D%0A%09%09c-1.5%2C0.1-3%2C0-4.5%2C0c-72.5%2C0-145%2C0-217.5%2C0c-11.9%2C0-15.5-3.6-15.5-15.4C3167%2C732.9%2C3167%2C564.6%2C3167%2C396.2z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st2%22%20d%3D%22M4767.1%2C396.3c0%2C167.6%2C0%2C335.3%2C0%2C502.9c0%2C1.7%2C0%2C3.3%2C0%2C5c-0.2%2C7.8-4.7%2C12.4-12.6%2C12.4c-74.5%2C0-149%2C0-223.5%2C0%0D%0A%09%09c-7.6%2C0-12.1-4.3-12.6-11.9c-0.1-1.5-0.1-3-0.1-4.5c0-335.8%2C0-671.5%2C0-1007.3c0-2.5%2C0-5%2C0.5-7.5c0.9-5.1%2C4.8-8.5%2C9.9-9.1%0D%0A%09%09c1.6-0.2%2C3.3-0.2%2C5-0.2c72.7%2C0%2C145.3%2C0%2C218%2C0c1.2%2C0%2C2.3%2C0%2C3.5%2C0.1c7.3%2C0.4%2C11.7%2C4.8%2C11.8%2C12.2c0.1%2C10.8%2C0%2C21.7%2C0%2C32.5%0D%0A%09%09C4767.1%2C79.4%2C4767.1%2C237.9%2C4767.1%2C396.3z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st2%22%20d%3D%22M3867%2C599c0%2C100.2%2C0%2C200.3%2C0%2C300.5c0%2C1.5%2C0%2C3%2C0%2C4.5c-0.3%2C8.1-4.8%2C12.6-12.9%2C12.6c-25.8%2C0.1-51.7%2C0-77.5%2C0%0D%0A%09%09c-47.8%2C0-95.7%2C0-143.5%2C0c-10.8%2C0-14.8-4-14.8-14.7c0-201.8%2C0-403.6%2C0-605.5c0-10.9%2C4.2-15%2C15.2-15c72.8%2C0%2C145.7%2C0%2C218.5%2C0%0D%0A%09%09c11%2C0%2C15.1%2C4.1%2C15.1%2C15.1C3867%2C397.4%2C3867%2C498.2%2C3867%2C599z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%09%3Crect%20x%3D%225281%22%20y%3D%22-110.9%22%20class%3D%22st3%22%20width%3D%223077.6%22%20height%3D%221296.3%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M5463.2-67l180.4%2C649.9l179.7-649.3c3.4-13.1%2C11.1-23.9%2C23.1-32.6c12-8.6%2C25.8-13%2C41.5-13%0D%0A%09%09c13.5%2C0%2C26.3%2C3.9%2C38.3%2C11.7s20.3%2C18.9%2C25%2C33.2l180.3%2C649.9l181-649.9c3-9.3%2C8.2-17.7%2C15.8-25.3c13.1-13.1%2C28.9-19.6%2C47.5-19.6%0D%0A%09%09c18.6%2C0%2C34.3%2C6.5%2C47.1%2C19.6c12.8%2C13.1%2C19.3%2C28.9%2C19.3%2C47.5c-0.4%2C8.4-1.9%2C17.3-4.4%2C26.6l-238.6%2C864.4c-5.9%2C16.5-14.8%2C29.6-26.6%2C39.5%0D%0A%09%09s-25.5%2C14.9-41.1%2C14.9c-19%2C0-34.6-6.8-46.8-20.3c-8.9-9.3-15.6-20.3-20.3-32.9l-176.5-639.8L5711.3%2C846%0D%0A%09%09c-5.9%2C16.5-14.8%2C29.6-26.6%2C39.5s-25.5%2C14.9-41.1%2C14.9c-19%2C0-34.8-6.8-47.5-20.3c-8.4-8.4-15-19.4-19.6-32.9L5336.7-19.1%0D%0A%09%09c-2.5-9.7-3.8-18.3-3.8-25.9c0-18.6%2C6.5-34.4%2C19.6-47.5s28.9-19.6%2C47.5-19.6s34.4%2C6.5%2C47.5%2C19.6C5454.6-84.7%2C5459.8-76.2%2C5463.2-67%0D%0A%09%09z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6725.7%2C66.9c0%2C21.5-7.6%2C39.9-22.8%2C55.1s-33.5%2C22.8-55.1%2C22.8s-39.9-7.6-55-22.8S6570%2C88.5%2C6570%2C66.9%0D%0A%09%09c0-21.5%2C7.6-39.9%2C22.8-55s33.5-22.8%2C55-22.8s39.9%2C7.6%2C55.1%2C22.8S6725.7%2C45.4%2C6725.7%2C66.9z%20M6582%2C835.2V259.3%0D%0A%09%09c0-18.6%2C6.4-34.3%2C19.3-47.1c12.9-12.9%2C28.4-19.3%2C46.5-19.3c18.1%2C0%2C33.6%2C6.4%2C46.5%2C19.3c12.9%2C12.9%2C19.5%2C28.6%2C19.9%2C47.1v575.9%0D%0A%09%09c-0.4%2C18.6-7.1%2C34.3-19.9%2C47.2c-12.9%2C12.9-28.4%2C19.3-46.5%2C19.3c-18.1%2C0-33.6-6.4-46.5-19.3C6588.4%2C869.5%2C6582%2C853.7%2C6582%2C835.2z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6847.8%2C833.5V-44.8c0-9.3%2C1.7-18%2C5.1-26.3c3.4-8.2%2C8.1-15.4%2C14.2-21.5s13.2-10.9%2C21.2-14.2s16.9-5.1%2C26.6-5.1%0D%0A%09%09h585.4c18.6%2C0%2C34.4%2C6.5%2C47.5%2C19.6s19.6%2C28.9%2C19.6%2C47.5s-6.5%2C34.4-19.6%2C47.5s-28.9%2C19.6-47.5%2C19.6H6982v305h372.1%0D%0A%09%09c18.6%2C0%2C34.4%2C6.5%2C47.5%2C19.6s19.6%2C28.9%2C19.6%2C47.5s-6.5%2C34.4-19.6%2C47.5s-28.9%2C19.6-47.5%2C19.6H6982v372.1c0%2C18.6-6.5%2C34.4-19.6%2C47.5%0D%0A%09%09s-28.9%2C19.6-47.5%2C19.6s-34.4-6.5-47.5-19.6S6847.8%2C852.1%2C6847.8%2C833.5z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M7839.4%2C66.9c0%2C21.5-7.6%2C39.9-22.8%2C55.1s-33.5%2C22.8-55.1%2C22.8s-39.9-7.6-55-22.8s-22.8-33.5-22.8-55.1%0D%0A%09%09c0-21.5%2C7.6-39.9%2C22.8-55s33.5-22.8%2C55-22.8s39.9%2C7.6%2C55.1%2C22.8S7839.4%2C45.4%2C7839.4%2C66.9z%20M7695.8%2C835.2V259.3%0D%0A%09%09c0-18.6%2C6.4-34.3%2C19.3-47.1c12.9-12.9%2C28.4-19.3%2C46.5-19.3s33.6%2C6.4%2C46.5%2C19.3c12.9%2C12.9%2C19.5%2C28.6%2C19.9%2C47.1v575.9%0D%0A%09%09c-0.4%2C18.6-7.1%2C34.3-19.9%2C47.2c-12.9%2C12.9-28.4%2C19.3-46.5%2C19.3s-33.6-6.4-46.5-19.3S7695.8%2C853.7%2C7695.8%2C835.2z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M5455.8-488.6l127.7-164.1c3.7-4.4%2C8-6.6%2C12.7-6.6c4.1%2C0%2C7.6%2C1.5%2C10.5%2C4.4c2.9%2C2.9%2C4.4%2C6.5%2C4.4%2C10.7%0D%0A%09%09c0%2C3.3-0.8%2C6.1-2.4%2C8.5l-133.5%2C171.6L5608-293.4c2.1%2C2.6%2C3.2%2C5.8%2C3.2%2C9.5c0%2C4.2-1.5%2C7.8-4.4%2C10.7c-2.9%2C2.9-6.4%2C4.4-10.5%2C4.4%0D%0A%09%09c-4.7%2C0-8.5-1.7-11.5-5.1l-128.9-165.3L5327-273.9c-2.8%2C3.4-6.5%2C5.1-11.2%2C5.1c-4.2%2C0-7.8-1.5-10.7-4.4c-2.9-2.9-4.4-6.5-4.4-10.7%0D%0A%09%09c0-3.6%2C1.1-6.8%2C3.4-9.5l132.6-170.7L5303.4-636c-1.8-2.1-2.7-4.9-2.7-8.3c0-4.2%2C1.5-7.8%2C4.4-10.7c2.9-2.9%2C6.5-4.4%2C10.7-4.4%0D%0A%09%09c4.9%2C0%2C9%2C2.2%2C12.5%2C6.6L5455.8-488.6z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M5709.4-608c0%2C5.7-2%2C10.5-5.9%2C14.4c-3.9%2C3.9-8.7%2C5.9-14.4%2C5.9c-5.5%2C0-10.3-2-14.3-5.9c-4-3.9-6-8.7-6-14.4%0D%0A%09%09c0-5.5%2C2-10.3%2C6-14.3s8.7-6%2C14.3-6c5.7%2C0%2C10.5%2C2%2C14.4%2C6C5707.5-618.3%2C5709.4-613.5%2C5709.4-608z%20M5674-526.9c0-4.2%2C1.5-7.8%2C4.4-10.7%0D%0A%09%09s6.5-4.4%2C10.7-4.4c4.2%2C0%2C7.9%2C1.5%2C10.9%2C4.4s4.5%2C6.5%2C4.5%2C10.7v243.2c0%2C4.2-1.5%2C7.8-4.5%2C10.7s-6.6%2C4.4-10.9%2C4.4%0D%0A%09%09c-4.2%2C0-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7V-526.9z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6012.2-318.2c-32.9%2C33-68.3%2C49.6-106.2%2C49.6c-37.8%2C0-70-13.3-96.7-40c-26.7-26.7-40-58.9-40-96.7%0D%0A%09%09s13.3-70%2C40-96.7c26.7-26.7%2C58.9-40%2C96.7-40s70%2C13.3%2C96.7%2C40c26.7%2C26.7%2C40%2C58.9%2C40%2C96.7v121.6c0%2C4.2-1.5%2C7.8-4.4%2C10.7%0D%0A%09%09c-2.9%2C2.9-6.5%2C4.4-10.7%2C4.4s-7.9-1.5-10.9-4.4s-4.5-6.5-4.5-10.7V-318.2L6012.2-318.2z%20M5906-511.8c-29.3%2C0-54.4%2C10.4-75.2%2C31.3%0D%0A%09%09c-20.8%2C20.8-31.3%2C45.9-31.3%2C75.2s10.4%2C54.4%2C31.3%2C75.2c20.8%2C20.8%2C45.9%2C31.3%2C75.2%2C31.3s54.4-10.4%2C75.2-31.3%0D%0A%09%09c20.7-20.7%2C31-45.7%2C31-75.2s-10.3-54.5-31-75.2C5960.3-501.4%2C5935.3-511.8%2C5906-511.8z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6355.2-405.3c0%2C37.8-13.3%2C70-40%2C96.7c-26.7%2C26.7-58.9%2C40-96.7%2C40s-70-13.3-96.7-40%0D%0A%09%09c-26.7-26.7-40-58.9-40-96.7s13.3-70%2C40-96.7c26.7-26.7%2C58.9-40%2C96.7-40s70%2C13.3%2C96.7%2C40C6341.8-475.3%2C6355.2-443.1%2C6355.2-405.3z%0D%0A%09%09%20M6218.5-511.8c-29.3%2C0-54.4%2C10.4-75.2%2C31.3c-20.8%2C20.8-31.3%2C45.9-31.3%2C75.2s10.4%2C54.4%2C31.3%2C75.2c20.8%2C20.8%2C45.9%2C31.3%2C75.2%2C31.3%0D%0A%09%09s54.4-10.4%2C75.2-31.3c20.7-20.7%2C31-45.7%2C31-75.2s-10.3-54.5-31-75.2C6272.8-501.4%2C6247.8-511.8%2C6218.5-511.8z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6423.5-283.8c0%2C4.2-1.5%2C7.8-4.4%2C10.7s-6.5%2C4.4-10.7%2C4.4c-4.2%2C0-7.9-1.5-10.9-4.4s-4.5-6.5-4.5-10.7v-243.1%0D%0A%09%09c0-4.2%2C1.5-7.8%2C4.5-10.7s6.6-4.4%2C10.9-4.4c4.2%2C0%2C7.8%2C1.5%2C10.7%2C4.4s4.4%2C6.5%2C4.4%2C10.7v16.4c24.7-21%2C50-31.5%2C75.9-31.5%0D%0A%09%09c29.3%2C0%2C54.4%2C10.4%2C75.2%2C31.3c5%2C5.2%2C10.3%2C11.6%2C15.9%2C19c5.5-7.5%2C10.9-13.8%2C16.1-19c20.8-20.8%2C45.9-31.3%2C75.2-31.3%0D%0A%09%09s54.4%2C10.4%2C75.2%2C31.3c20.7%2C20.7%2C31%2C45.7%2C31%2C75.2v151.9c0%2C4.2-1.5%2C7.8-4.4%2C10.7c-2.9%2C2.9-6.5%2C4.4-10.7%2C4.4s-7.8-1.5-10.7-4.4%0D%0A%09%09c-2.9-2.9-4.4-6.5-4.4-10.7v-152c0-21-7.5-38.9-22.5-53.7c-15-15-32.8-22.5-53.5-22.5c-20.8%2C0-38.7%2C7.5-53.7%2C22.5%0D%0A%09%09c-14.8%2C14.8-22.2%2C32.7-22.2%2C53.7v151.9c0%2C4.2-1.5%2C7.8-4.5%2C10.7s-6.6%2C4.4-10.9%2C4.4c-4.2%2C0-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7%0D%0A%09%09v-151.9c0-21-7.4-38.9-22.2-53.7c-15-15-32.9-22.5-53.7-22.5s-38.7%2C7.5-53.7%2C22.5c-14.8%2C14.8-22.2%2C32.7-22.2%2C53.7v151.8H6423.5z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6881.3-608c0%2C5.7-2%2C10.5-5.9%2C14.4c-3.9%2C3.9-8.7%2C5.9-14.4%2C5.9c-5.5%2C0-10.3-2-14.3-5.9c-4-3.9-6-8.7-6-14.4%0D%0A%09%09c0-5.5%2C2-10.3%2C6-14.3s8.7-6%2C14.3-6c5.7%2C0%2C10.5%2C2%2C14.4%2C6C6879.4-618.3%2C6881.3-613.5%2C6881.3-608z%20M6845.9-526.9%0D%0A%09%09c0-4.2%2C1.5-7.8%2C4.4-10.7s6.5-4.4%2C10.7-4.4s7.9%2C1.5%2C10.9%2C4.4s4.5%2C6.5%2C4.5%2C10.7v243.2c0%2C4.2-1.5%2C7.8-4.5%2C10.7s-6.6%2C4.4-10.9%2C4.4%0D%0A%09%09c-4.2%2C0-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7V-526.9z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6301.7%2C1088.3c0-4.2%2C1.5-7.8%2C4.4-10.7s6.5-4.4%2C10.7-4.4s7.8%2C1.5%2C10.7%2C4.4s4.4%2C6.5%2C4.4%2C10.7v34.4%0D%0A%09%09c33-33%2C68.5-49.6%2C106.4-49.6c20.3%2C0%2C37.8%2C3.2%2C52.2%2C9.5c2.6%2C1%2C5%2C2.5%2C7.1%2C4.6c2.8%2C2.8%2C4.2%2C6.3%2C4.2%2C10.7c0%2C4.2-1.5%2C7.8-4.4%2C10.7%0D%0A%09%09s-6.5%2C4.4-10.7%2C4.4c-2.6%2C0-4.9-0.5-6.8-1.5c-11.4-5.5-25.2-8.3-41.5-8.3c-29.3%2C0-54.4%2C10.4-75.2%2C31.3%0D%0A%09%09c-20.8%2C20.7-31.3%2C45.7-31.3%2C75.2v121.6c0%2C4.2-1.5%2C7.8-4.4%2C10.7s-6.5%2C4.4-10.7%2C4.4s-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7%0D%0A%09%09L6301.7%2C1088.3L6301.7%2C1088.3z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M6808.8%2C1209.9c0%2C37.8-13.3%2C70-40%2C96.7s-58.9%2C40-96.7%2C40c-37.8%2C0-70-13.3-96.7-40s-40-58.9-40-96.7%0D%0A%09%09s13.3-70%2C40-96.7s58.9-40%2C96.7-40c37.8%2C0%2C70%2C13.3%2C96.7%2C40C6795.4%2C1139.9%2C6808.8%2C1172.1%2C6808.8%2C1209.9z%20M6672.1%2C1103.4%0D%0A%09%09c-29.3%2C0-54.4%2C10.4-75.2%2C31.3c-20.8%2C20.8-31.3%2C45.9-31.3%2C75.2s10.4%2C54.4%2C31.3%2C75.2c20.8%2C20.8%2C45.9%2C31.3%2C75.2%2C31.3%0D%0A%09%09s54.4-10.4%2C75.2-31.3c20.7-20.7%2C31-45.7%2C31-75.2s-10.3-54.5-31-75.2C6726.4%2C1113.9%2C6701.4%2C1103.4%2C6672.1%2C1103.4z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M7101.3%2C1331.5c0%2C4.2-1.5%2C7.8-4.5%2C10.7s-6.6%2C4.4-10.9%2C4.4c-4.2%2C0-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7v-28.3%0D%0A%09%09c-29.9%2C29-62%2C43.5-96.2%2C43.5c-34.7%2C0-64.5-12.3-89.6-36.9c-24.6-24.7-36.9-54.7-36.9-89.8v-131.6c0-4.2%2C1.5-7.8%2C4.4-10.7%0D%0A%09%09s6.5-4.4%2C10.7-4.4s7.8%2C1.5%2C10.7%2C4.4s4.4%2C6.5%2C4.4%2C10.7V1220c0%2C26.7%2C9.4%2C49.4%2C28.1%2C68.1c19.4%2C18.9%2C42.1%2C28.3%2C68.1%2C28.3%0D%0A%09%09c26.4%2C0%2C49-9.4%2C67.9-28.3c18.9-18.7%2C28.3-41.4%2C28.3-68.1v-131.6c0-4.2%2C1.5-7.8%2C4.4-10.7s6.5-4.4%2C10.7-4.4s7.9%2C1.5%2C10.9%2C4.4%0D%0A%09%09s4.5%2C6.5%2C4.5%2C10.7v243.1H7101.3z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M7278.5%2C1316.3c4.2%2C0%2C7.9%2C1.5%2C10.9%2C4.4s4.5%2C6.5%2C4.5%2C10.7s-1.5%2C7.8-4.5%2C10.7s-6.6%2C4.4-10.9%2C4.4%0D%0A%09%09c-64.1%2C0-96.2-32.1-96.2-96.2v-147h-25.1c-4.2%2C0-7.9-1.5-10.9-4.4s-4.5-6.5-4.5-10.7s1.5-7.8%2C4.5-10.7c3-2.9%2C6.6-4.4%2C10.9-4.4h25.1%0D%0A%09%09V970.8c0-4.2%2C1.5-7.8%2C4.4-10.7s6.5-4.4%2C10.7-4.4s7.9%2C1.5%2C10.9%2C4.4s4.5%2C6.5%2C4.5%2C10.7v102.3h45.7c4.2%2C0%2C7.9%2C1.5%2C10.9%2C4.4%0D%0A%09%09s4.5%2C6.5%2C4.5%2C10.7s-1.5%2C7.8-4.5%2C10.7c-3%2C2.9-6.6%2C4.4-10.9%2C4.4h-45.7v147C7212.8%2C1294.4%2C7234.7%2C1316.3%2C7278.5%2C1316.3z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M7535.8%2C1287.8c4.2%2C0%2C7.8%2C1.5%2C10.7%2C4.5c2.9%2C3%2C4.4%2C6.6%2C4.4%2C10.9c0%2C4.2-1.3%2C7.7-3.9%2C10.5%0D%0A%09%09c-25.4%2C22-55.1%2C33-89.1%2C33c-37.8%2C0-70-13.3-96.7-40s-40-58.9-40-96.7s13.3-70%2C40-96.7s58.9-40%2C96.7-40c37.8%2C0%2C70%2C13.3%2C96.7%2C40%0D%0A%09%09s40%2C58.9%2C40%2C96.7c0%2C4.2-1.5%2C7.8-4.4%2C10.7s-6.5%2C4.4-10.7%2C4.4H7352c4.9%2C24.4%2C15.1%2C44.4%2C30.8%2C60.1c20.8%2C20.8%2C45.9%2C31.3%2C75.2%2C31.3%0D%0A%09%09c13.3%2C0%2C25.7-2.2%2C37.1-6.5s21.8-10.5%2C31.3-18.7C7529.1%2C1288.9%2C7532.2%2C1287.8%2C7535.8%2C1287.8z%20M7563.7%2C1194.7%0D%0A%09%09c-4.6-24.3-14.7-44.3-30.5-60.1c-20.8-20.8-45.9-31.3-75.2-31.3s-54.4%2C10.4-75.2%2C31.3c-15.6%2C15.6-25.9%2C35.6-30.8%2C60.1H7563.7z%22%2F%3E%0D%0A%09%3Cpath%20class%3D%22st4%22%20d%3D%22M7634.5%2C1088.3c0-4.2%2C1.5-7.8%2C4.4-10.7s6.5-4.4%2C10.7-4.4s7.8%2C1.5%2C10.7%2C4.4s4.4%2C6.5%2C4.4%2C10.7v34.4%0D%0A%09%09c33-33%2C68.5-49.6%2C106.4-49.6c20.3%2C0%2C37.8%2C3.2%2C52.2%2C9.5c2.6%2C1%2C5%2C2.5%2C7.1%2C4.6c2.8%2C2.8%2C4.2%2C6.3%2C4.2%2C10.7c0%2C4.2-1.5%2C7.8-4.4%2C10.7%0D%0A%09%09s-6.5%2C4.4-10.7%2C4.4c-2.6%2C0-4.9-0.5-6.8-1.5c-11.4-5.5-25.2-8.3-41.5-8.3c-29.3%2C0-54.4%2C10.4-75.2%2C31.3%0D%0A%09%09c-20.8%2C20.7-31.3%2C45.7-31.3%2C75.2v121.6c0%2C4.2-1.5%2C7.8-4.4%2C10.7s-6.5%2C4.4-10.7%2C4.4s-7.8-1.5-10.7-4.4s-4.4-6.5-4.4-10.7%0D%0A%09%09L7634.5%2C1088.3L7634.5%2C1088.3z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A') !important;
    width: 200px !important;
    height: 82px !important;
}
/* created with: http://www.urlencoder.org */
div.belkin {
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.3%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22svg6347%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0D%0A%09%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22220px%22%20height%3D%22100px%22%0D%0A%09%20viewBox%3D%22402%2095.5%20220%20100%22%20enable-background%3D%22new%20402%2095.5%20220%20100%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20id%3D%22path6334%22%20fill%3D%22%23808080%22%20stroke%3D%22%23000000%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M620.58%2C164.857h-0.611l-1.104%2C2.398h-0.02%0D%0A%09l-1.078-2.398h-0.619v3.197h0.486v-2.301h0.029l1.025%2C2.301h0.289l1.057-2.301h0.021v2.301h0.523V164.857z%20M616.723%2C165.338h-1.008%0D%0A%09v2.717h-0.529v-2.717h-1.004v-0.48h2.541V165.338z%20M578.545%2C130.349c-2.225%2C0-4.039%2C1.819-4.039%2C4.047%0D%0A%09c0%2C2.221%2C1.814%2C4.033%2C4.039%2C4.033s4.031-1.813%2C4.031-4.033C582.576%2C132.168%2C580.77%2C130.349%2C578.545%2C130.349%20M578.545%2C130.349%0D%0A%09c-2.225%2C0-4.039%2C1.819-4.039%2C4.047c0%2C2.221%2C1.814%2C4.033%2C4.039%2C4.033s4.031-1.813%2C4.031-4.033%0D%0A%09C582.576%2C132.168%2C580.77%2C130.349%2C578.545%2C130.349%20M441.013%2C165.043c-2.262%2C0-4.106%2C1.84-4.106%2C4.109%0D%0A%09c0%2C2.268%2C1.844%2C4.096%2C4.106%2C4.096c2.27%2C0%2C4.102-1.828%2C4.102-4.096C445.115%2C166.883%2C443.283%2C165.043%2C441.013%2C165.043%0D%0A%09%20M419.127%2C165.043c-2.257%2C0-4.103%2C1.84-4.103%2C4.109c0%2C2.268%2C1.845%2C4.096%2C4.103%2C4.096c2.267%2C0%2C4.107-1.828%2C4.107-4.096%0D%0A%09C423.234%2C166.883%2C421.394%2C165.043%2C419.127%2C165.043%20M439.646%2C147.259c0-2.256-1.837-4.097-4.099-4.097%0D%0A%09c-2.271%2C0-4.102%2C1.841-4.102%2C4.097c0%2C2.269%2C1.832%2C4.106%2C4.102%2C4.106C437.809%2C151.365%2C439.646%2C149.527%2C439.646%2C147.259%0D%0A%09%20M424.597%2C143.162c-2.263%2C0-4.098%2C1.841-4.098%2C4.097c0%2C2.269%2C1.835%2C4.106%2C4.098%2C4.106c2.27%2C0%2C4.106-1.838%2C4.106-4.106%0D%0A%09C428.704%2C145.003%2C426.867%2C143.162%2C424.597%2C143.162%20M453.776%2C130.391c-2.266%2C0-4.099%2C1.835-4.099%2C4.102%0D%0A%09c0%2C2.265%2C1.833%2C4.106%2C4.099%2C4.106c2.274%2C0%2C4.106-1.841%2C4.106-4.106C457.882%2C132.226%2C456.05%2C130.391%2C453.776%2C130.391%0D%0A%09%20M431.446%2C136.313c0%2C2.271%2C1.832%2C4.103%2C4.102%2C4.103c2.262%2C0%2C4.099-1.832%2C4.099-4.103c0-2.253-1.837-4.099-4.099-4.099%0D%0A%09C433.277%2C132.215%2C431.446%2C134.06%2C431.446%2C136.313%20M406.361%2C130.391c-2.262%2C0-4.099%2C1.835-4.099%2C4.102%0D%0A%09c0%2C2.265%2C1.837%2C4.106%2C4.099%2C4.106c2.275%2C0%2C4.103-1.841%2C4.103-4.106C410.464%2C132.226%2C408.636%2C130.391%2C406.361%2C130.391%0D%0A%09%20M424.597%2C132.215c-2.263%2C0-4.098%2C1.845-4.098%2C4.099c0%2C2.271%2C1.835%2C4.103%2C4.098%2C4.103c2.27%2C0%2C4.106-1.832%2C4.106-4.103%0D%0A%09C428.704%2C134.06%2C426.867%2C132.215%2C424.597%2C132.215%20M430.066%2C126.065c3.403%2C0%2C6.157-2.752%2C6.157-6.155c0-3.4-2.754-6.158-6.157-6.158%0D%0A%09c-3.395%2C0-6.148%2C2.757-6.148%2C6.158C423.918%2C123.313%2C426.672%2C126.065%2C430.066%2C126.065%20M575.049%2C168.055h6.998v-26.328h-6.998V168.055%0D%0A%09z%20M571.922%2C141.73h-8.047l-9.408%2C11.641v-21.692h-7.002v36.375h7.002v-12.605l9.412%2C12.605h8.504l-10.852-14.189L571.922%2C141.73%0D%0A%09L571.922%2C141.73z%20M535.684%2C168.055h6.998v-36.382h-6.998V168.055z%20M524.928%2C152.41c-0.486-3.232-2.572-5.813-6.408-5.813%0D%0A%09c-3.764%2C0-5.969%2C2.564-6.461%2C5.813H524.928z%20M532.016%2C155.313c0%2C0.604-0.025%2C1.475-0.084%2C2.096h-19.906%0D%0A%09c0.354%2C3.326%2C3.371%2C5.498%2C7.125%2C5.498c2.771%2C0%2C5.057-0.818%2C6.98-2.498l3.559%2C4.854c-2.055%2C1.637-5.5%2C3.506-10.535%2C3.506%0D%0A%09c-8.481%2C0-14.177-5.525-14.177-13.75c0-8.09%2C5.933-14.183%2C13.802-14.183C527.069%2C140.834%2C532.016%2C146.249%2C532.016%2C155.313%0D%0A%09%20M495.252%2C154.803c0-4.273-2.999-7.502-6.967-7.502c-3.973%2C0-6.974%2C3.229-6.974%2C7.502c0%2C4.275%2C3.001%2C7.502%2C6.974%2C7.502%0D%0A%09C492.253%2C162.305%2C495.252%2C159.078%2C495.252%2C154.803%20M502.25%2C154.803c0%2C8.23-5.743%2C13.965-13.958%2C13.965%0D%0A%09c-8.23%2C0-13.977-5.791-13.977-14.092v-22.997h6.995v12.756c1.712-1.856%2C4.471-3.601%2C8.312-3.601%0D%0A%09C497.177%2C140.834%2C502.25%2C146.451%2C502.25%2C154.803%20M610.809%2C153.531v14.49h-7.004l-0.002-14.496c0-3.922-1.531-6.27-5.352-6.27%0D%0A%09c-3.822%2C0-5.363%2C2.348-5.363%2C6.27v14.496h-6.996v-14.49c0-8.112%2C4.127-12.74%2C12.359-12.74%0D%0A%09C606.676%2C140.792%2C610.809%2C145.354%2C610.809%2C153.531%22%2F%3E%0D%0A%3C%2Fsvg%3E") !important;
    width: 220px !important;
    height: 100px !important;
}
div.KN-4G3,
div.KN-EXTRA,
div.KN-GIGA3,
div.KN-LITE2,
div.KN-LITE3,
div.KN-LITE3B,
div.KN-OMNI,
div.KN-OMNI2,
div.KN-START2,
div.KN-ULTRA2,
div.KN-VIVA,
div.zyxel {
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22svg2%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0D%0A%09%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%22540.3%20346.9%20220%20100%22%0D%0A%09%20style%3D%22enable-background%3Anew%20540.3%20346.9%20220%20100%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0A%09.st0%7Bfill%3A%232464A7%3Bstroke%3A%23FFFFFF%3Bstroke-miterlimit%3A10%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%28-877.03223%2C-264.61308%29%22%3E%0D%0A%09%3Cg%20id%3D%22g5544%22%20transform%3D%22translate%2835.433051%2C35.495956%29%22%3E%0D%0A%09%09%3Cpath%20id%3D%22path5158%22%20class%3D%22st0%22%20d%3D%22M1460.3%2C613.6l-9.3%2C17.7c-0.6%2C1.2-0.8%2C1-1-0.3c-0.1-0.5-2.8-17.4-2.8-17.4h-13%0D%0A%09%09%09c0%2C0%2C4.1%2C24.9%2C4.1%2C24.9c0.1%2C0.6%2C0.4%2C2.9%2C0.6%2C4c1%2C6.5-3.1%2C6.2-6.2%2C6.1c-1.5-0.1-3-0.3-3.9-0.4c0%2C0-0.2%2C0-0.2%2C0%0D%0A%09%09%09c-0.2%2C0.9-1%2C7.2-1%2C7.2s4.8%2C0.9%2C8.8%2C0.9c4.2%2C0%2C9.5-0.5%2C13.4-4.3c1.6-1.6%2C3.1-3.7%2C5-6.8l17.2-31.4H1460.3%22%2F%3E%0D%0A%09%09%3Cpath%20id%3D%22path5162%22%20class%3D%22st0%22%20d%3D%22M1392.8%2C597.9l-1.6%2C8.4h20.4c0.2%2C0%2C0.5%2C0.1%2C0.6%2C0.4c0%2C0.1%2C0.1%2C0.2%2C0.1%2C0.2c0%2C0.2%2C0%2C0.3-0.2%2C0.4%0D%0A%09%09%09c0%2C0-24.7%2C27.7-24.9%2C28c-0.1%2C0.3-1.2%2C5.9-1.4%2C7.1c1.5%2C0%2C40.4%2C0%2C40.4%2C0l1.6-8.4h-19.5c-0.2%2C0-0.5-0.1-0.6-0.4%0D%0A%09%09%09c0-0.1-0.1-0.2-0.1-0.2c0-0.2%2C0-0.3%2C0.1-0.4c0%2C0%2C24-26.9%2C24.2-27.1c0.1-0.3%2C1.3-6.7%2C1.6-8C1432.1%2C597.9%2C1392.8%2C597.9%2C1392.8%2C597.9%0D%0A%09%09%09%22%2F%3E%0D%0A%09%09%3Cpath%20id%3D%22path5166%22%20class%3D%22st0%22%20d%3D%22M1488.5%2C630.6c0.6-0.8%2C0.8-0.8%2C1.2%2C0.2l4.5%2C11.7h16.3c0%2C0-9.9-23.7-9.9-23.8%0D%0A%09%09%09c0-0.1%2C17.3-20.8%2C17.3-20.8h-14l-7.8%2C9.5c-0.6%2C0.7-0.9%2C0.5-1.2-0.2l-3.9-9.3h-15.8c0%2C0%2C8.7%2C20.5%2C8.7%2C20.5c0%2C0.1-20%2C24-20%2C24h14.5%0D%0A%09%09%09L1488.5%2C630.6%22%2F%3E%0D%0A%09%09%3Cpath%20id%3D%22path5170%22%20class%3D%22st0%22%20d%3D%22M1559.8%2C606.3c0.2-0.8%2C1.5-7.2%2C1.8-8.4c-1.5%2C0-34.5%2C0-35.4%2C0c-0.2%2C0.9-9.1%2C43.1-9.4%2C44.6%0D%0A%09%09%09c1.5%2C0%2C35.4%2C0%2C36.3%2C0c0.2-0.8%2C1.5-7.2%2C1.8-8.4c-1.4%2C0-20.3%2C0-20.3%2C0c-0.2%2C0-0.4-0.1-0.5-0.2c-0.1-0.1-0.1-0.2-0.2-0.4%0D%0A%09%09%09c0%2C0%2C0-0.1%2C0-0.2l2.1-8.3c0.1-0.3%2C0.3-0.5%2C0.6-0.5c0%2C0%2C17.6%2C0%2C18.5%2C0c0.2-0.8%2C1.7-7.4%2C1.9-8.7c-1.4%2C0-18.7%2C0-18.7%2C0%0D%0A%09%09%09c-0.2%2C0-0.4-0.1-0.5-0.2c-0.1-0.1-0.1-0.2-0.1-0.4c0%2C0%2C0-0.1%2C0-0.1l1.8-8.2c0.1-0.3%2C0.3-0.5%2C0.6-0.5%0D%0A%09%09%09C1540.1%2C606.3%2C1559%2C606.3%2C1559.8%2C606.3%22%2F%3E%0D%0A%09%09%3Cpath%20id%3D%22path5174%22%20class%3D%22st0%22%20d%3D%22M1586%2C597.8c-1.4%2C0-14.7%2C0-15.6%2C0c-0.2%2C0.9-9.1%2C43.2-9.4%2C44.6c1.5%2C0%2C34.6%2C0%2C35.5%2C0%0D%0A%09%09%09c0.2-0.8%2C1.5-7.2%2C1.8-8.4c-1.4%2C0-19.2%2C0-19.2%2C0c-0.2%2C0-0.4-0.1-0.5-0.2c-0.1-0.1-0.2-0.2-0.2-0.4c0%2C0%2C0-0.1%2C0-0.2%0D%0A%09%09%09C1578.5%2C633.2%2C1585.7%2C599.3%2C1586%2C597.8%22%2F%3E%0D%0A%09%3C%2Fg%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A") !important;
    width: 220px !important;
    height: 100px !important;
}
div.xiaomi-small {
    background-image: url("../img/logo/xiaomi_small.png") !important;
    width: 220px !important;
    height: 100px !important;
}
div.xiaomi-hat {
    background-image: url("../img/logo/xiaomi_hat.png") !important;
    width: 220px !important;
    height: 100px !important;
}
div.xiaomi-face {
    background-image: url("../img/logo/xiaomi_face.png") !important;
    width: 220px !important;
    height: 100px !important;
}
div.xiaomi-bag {
    background-image: url("../img/logo/xiaomi_bag.png") !important;
    width: 220px !important;
    height: 100px !important;
}
div.xiaomi-bench {
    background-image: url("../img/logo/xiaomi_bench.png") !important;
    width: 220px !important;
    height: 100px !important;
}
div.xiaomi-friends {
    background-image: url("../img/logo/xiaomi_friends.png") !important;
    width: 220px !important;
    height: 100px !important;
}
div.WT3020,
div.WT3020A,
div.nexx {
    background-image: url("../img/logo/nexx.png") !important;
    width: 220px !important;
    height: 100px !important;
}
div.samsung {
    background-image: url("../img/logo/samsung.png") !important;
    width: 220px !important;
    height: 100px !important;
}

/* END LOGO */